include /components/atoms/avatar.pug
include /components/atoms/button.pug
include /components/atoms/date.pug
include /components/comment.pug
include /components/bet.pug
include /components/atoms/tag.pug
include /components/atoms/userRating.pug
include /components/tabBar.pug
include /components/topBar.pug
include /components/block.pug
include /components/filters/filtersPanel.pug
include /components/filters/playerRating.pug
include /components/modal.pug
include /components/atoms/sortButton.pug
include /components/inputs/select.pug
include /components/searchAndFilterButton.pug
include /components/rentCourt.pug
include /components/clubCard.pug
include /components/newsCard.pug
include /components/horizontalClubCard.pug
include /components/atoms/bookmark.pug
include /components/adminBar.pug
include /components/atoms/menuRow.pug
include /components/trainerCard.pug
include /components/gameResult.pug
include /components/bestWinsBlock.pug
include /components/tournamentRegCard.pug
include /components/tournamentResultCard.pug
include /components/photoSlider.pug
include /components/videoSlider.pug
include /components/filters/filterButtonsRow.pug
include /components/filters/filterButton.pug
include /components/trainingLine.pug
include /components/atoms/backButtonTitle.pug
include /components/forumRow.pug
include /components/poll.pug
include /components/articleRow.pug
include /components/profileTournamentCard.pug

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Вокруг игры
    link(href='../../styles.css', rel='stylesheet')
    link(
      rel='stylesheet',
      href='https://fonts.googleapis.com/css2?family=Play:wght@100;200;300;400;500;600;700;800&:display=swap'
    )
    base(href='../../')
  body.bg-page-background.pb-28.pt-12
    +topBar

    -
      var topics = [
        {
          title: 'Игровые тренировки в Москве',
          author: 'Pakhomych',
          date: 'Сегодня 22:16',
          commentsCount: '25',
          newComments: 2,
          link: '/training-moscow',
          theme: 'Тренировки',
          themeClass: 'bg-lab-color'
        },
        {
          title: 'Правила расчета рейтинга',
          author: 'retverd',
          date: '08-26-2022 13:53',
          commentsCount: '44',
          newComments: 3,
          link: '/rating-rules',
          theme: 'Статьи',
          themeClass: 'bg-lab-blue'
        },
        {
          title: 'Чемпионат мира среди смешанных команд в разгаре',
          author: 'Надежда P',
          date: '08-26-2021 16:22',
          commentsCount: '37',
          newComments: 5,
          link: '/world-championship',
          theme: 'Новости',
          themeClass: 'bg-lab-yellow'
        },
        {
          title: 'Провоз ракеток в самолете',
          author: 'retverd',
          date: '08-26-2022 13:53',
          commentsCount: '44',
          newComments: 3,
          link: '/rating-rules',
          theme: 'Статьи',
          themeClass: 'bg-lab-blue'
        },
        {
          title: 'Розыгрыш волана в третьем гейме',
          author: 'Надежда P',
          date: '08-26-2021 16:22',
          commentsCount: '37',
          newComments: 5,
          link: '/world-championship',
          theme: 'Новости',
          themeClass: 'bg-lab-yellow'
        },
        {
          title: 'Синхронизация профилей',
          author: 'retverd',
          date: '08-26-2022 13:53',
          commentsCount: '44',
          newComments: 3,
          link: '/rating-rules',
          theme: 'Статьи',
          themeClass: 'bg-lab-blue'
        },
        {
          title: 'пожелания к допускам по рейтингу',
          author: 'Надежда P',
          date: '08-26-2021 16:22',
          commentsCount: '37',
          newComments: 5,
          link: '/world-championship',
          theme: 'Новости',
          themeClass: 'bg-lab-yellow'
        },
      ];
      var articles = [
        {
          title: 'Правила бадминтона',
          subtitle: 'Полные правила игры и проведения соревнований по бадминтону'

        },
        {
          title: 'Как записаться на турнир?',
          subtitle: 'В левом столбце сайта в разделе "Ближайшие турниры" размещаются все те, на которые уже открыта регистрация (открывается за трое суток до начала). Вы можете зарегистрироваться сами или позвонить по телефону клуба'

        },
        {
          title: 'Правила расчета рейтинга',
          subtitle: 'Изменение (дельта) ЛАБ-рейтинга после одной встречи = [(100 - (PВ - PП)) / 10] , где РВ - рейтинг выигравшего, РП - рейтинг проигравшего.'
        },
        {
          title: 'Провоз ракеток в самолете',
          subtitle: 'Всем доброго времени суток! Хотелось бы узнать, в связи с ужесточением правил провоза ручной клади в самолете, можно ли сейчас провозить ракетки в ручной клади? У кого какой опыт? Желательно с указанием авиакомпании.'
        },
        {
          title: 'Тегирование фотографий перед загрузкой на сайт',
          subtitle: 'Чтобы ваше фото не потерялось среди других, отображалось в профиле игроков и на странице клуба, на него нужно поставить теги! Добавленные фото отображаются в левой колонке сайта.'
        },
        {
          title: 'Правила подачи в бадминтоне',
          subtitle: 'Правило подачи в бадминтоне'
        },
        {
          title: 'Как получить рейтинг?',
          subtitle: 'Для того, чтобы получить рейтинг ЛАБ, зарегистрируйтесь на один из турниров, которые представлены на нашем сайте или входят в рейтинг ЛАБ и примите в нем участие. В течение суток после завершения турнира, его результаты, включающие вашу страничку с рейтингом, появятся на сайте.'
        },
        {
          title: 'Рейтинг для парных турниров',
          subtitle: 'Рейтинг пары рассчитывается на основе рейтинга каждого из игроков в паре'
        },

      ];
    .p-2
      +block('Форум', { href: 'pages/aroundgame/forum.html', text: 'Все' })
        +filterButtonsRow([ { label: 'Жизнь на сайте', active: true }, { label: 'Новости', active: false }, { label: 'Турниры', active: false }, { label: 'Статьи', active: false }], 'padding', '-mx-4 mb-2')

        .mt-4.grid.grid-cols-1.gap-8(class='md:grid-cols-2 lg:grid-cols-3')
          // На всех экранах показываем первые 3 темы
          .flex.flex-col.gap-4
            each topic, index in topics
              if index < 3
                +forumRow(topic)

          // На экранах от 640px показываем следующие 3 темы (итого 6)
          .hidden(class='md:flex md:flex-col md:gap-4')
            each topic, index in topics
              if index >= 3 && index < 6
                +forumRow(topic)

          // На экранах от 1024px показываем еще 3 темы (итого 9)
          .hidden(class='lg:flex lg:flex-col lg:gap-4')
            each topic, index in topics
              if index >= 6 && index < 9
                +forumRow(topic)

      +block('Справочник', {href: 'pages/aroundgame/articles.html', text: 'Все статьи'})
        .sm.grid.grid-cols-1.gap-8(class='sm:grid-cols-2 lg:grid-cols-3')
          // На всех экранах показываем первые 3 статьи
          .flex.flex-col.gap-4
            each article, index in articles
              if index < 3
                +articleRow(article)

          // На экранах от 640px показываем следующие 3 статьи (итого 6)
          .hidden(class='sm:flex sm:flex-col sm:gap-4')
            each article, index in articles
              if index >= 3 && index < 6
                +articleRow(article)

          // На экранах от 1024px показываем еще 3 статьи (итого 9)
          .hidden(class='lg:flex lg:flex-col lg:gap-4')
            each article, index in articles
              if index >= 6 && index < 9
                +articleRow(article)

      +block('Опросы', {href: 'pages/aroundgame/polls.html', text: 'Все'})
        .no-scrollbar.-m-4.flex.gap-3.overflow-x-auto.p-4
          +poll('Вы знаете правила бадминтона?', [{text: 'Реально их прочитал(а) и раз в несколько лет перечитываю', percent: 36}, {text: 'Думаю, что знаю, потому что я давно играю', percent: 48}, {text: 'Я их не знаю, но знаю, что они есть', percent: 13}, {text: 'Я их не знаю, но знаю того, кто их знает и каждый раз спрашиваю', percent: 3}], false)
          +poll('Какой формат игры в бадминтон предпочитаете?', [{text: 'Одиночные', percent: 30}, {text: 'Парные', percent: 45, selected: true}, {text: 'Командные', percent: 25}], 'poll1')
          +poll('Любите ли вы играть в бадминтон зимой?', [{text: 'Да', percent: 20, selected: true}, {text: 'Нет', percent: 80}], 'poll2')
          +poll('Лучший бренд ракеток для бадминтона?', [{text: 'Yonex', percent: 60, selected: true}, {text: 'Li-Ning', percent: 25}, {text: 'Victor', percent: 15}], 'poll3')

      +block('Новости', { href:"pages/others/news.html", text:'Все'})
        .sm.grid.grid-cols-1.gap-8(class='sm:grid-cols-2 lg:grid-cols-3')
          .flex.flex-col.gap-4
            +newsCard('23 мая состоится студенческий турнир Москвы', 'dynamic-img/club-1.jpg', 'Naten ЮГ Ярославль', '4 апреля 16:30', '#')
            +newsCard('Открытые тренировки для всех желающих', '', 'Спартак М', '12 мая 18:00', '#')
            +newsCard('Финал городского чемпионата по бадминтону', 'dynamic-img/club-3.jpg', 'Динамо СПб', '20 июня 20:00', '#')

          .hidden(class='sm:flex sm:flex-col sm:gap-4')
            +newsCard('Запуск новой школы бадминтона в Петербурге', 'dynamic-img/photo-1.jpg', 'БК Невский', '15 июня 10:00', '#')
            +newsCard('Летний кубок по бадминтону для детей', 'dynamic-img/club-1.jpg', 'БК Москва', '25 июля 14:00', '#')
            +newsCard('Международный турнир по бадминтону стартует в августе', '', 'БК Интернационал', '1 августа 09:00', '#')

          .hidden(class='lg:flex lg:flex-col lg:gap-4')
            +newsCard('Семинар по тактике игры в бадминтон', 'dynamic-img/club-2.jpg', 'БК Лидер', '3 сентября 12:00', '#')
            +newsCard('Турнир памяти выдающихся игроков', '', 'БК Виктория', '10 сентября 15:00', '#')
            +newsCard('Бадминтонный фестиваль для всей семьи', 'dynamic-img/photo-2.jpg', 'БК Семья', '17 сентября 10:00', '#')

      +block('Календарь официальных турниров', { href:"pages/aroundgame/officialCalendar.html", text:'Все'})
        +filterButtonsRow([ { label: 'Июнь', active: true}, { label: 'Июль', active: false}, { label: 'Август', active: false}], 'padding', '-mx-4 mb-4')
        -
          var events = [
            { title: 'Danish Junior Cup 2023', date: '1–4 июня', place: 'Дания, Видовре', level: 'U17', logo: 'img/euro.png' },
            { title: 'Чемпионат Крыма среди ветеранов 2023', date: '2-4 июня', place: 'Евпатория, Россия', level: 'U17', logo: 'img/nfbr.png' },
            { title: 'Самарское лето 2023', date: '4–6 июня', place: 'Самара, Россия', level: 'U17', logo: 'img/nfbr.png' },
            { title: 'Чемпионат России среди ветеранов 2023', date: '8–11 июня', place: 'Евпатория, Россия', level: 'U17', logo: 'img/nfbr.png' },
            { title: 'Белые ночи 2023', date: '10–13 июня', place: 'Гатчина, Россия', level: 'U17', logo: 'img/nfbr.png' },

          ]

        each event in events
          .mt-2.flex.items-center.justify-between.gap-4.rounded-lg.border-b.pb-2(
            class='last:border-b-0 last:pb-0'
          )
            .w-20.shrink-0.text-center
              .whitespace-nowrap.text-sm.text-lab-black #{ event.date }
              img.mx-auto.mt-2.size-6(src=event.logo, alt='logo')

            .grow.items-center
              h3.text-sm.font-bold #{ event.title }
              .pb-2.pt-1.text-sm.text-lab-black-50 #{ event.place }

              .w-fit.rounded.bg-lab-color-10.px-1.text-xs.text-lab-black #{ event.level }
      +photoSlider('Последние фото', false)
      +videoSlider(false, false, 'Последние видео', '', 'pages/aroundgame/videos.html')
      +block('Рейтинги игроков на сайте')
        +filterButtonsRow([ { label: 'Одиночный', active: true }, { label: 'Парный', active: false }], 'padding', '-mx-4 mb-2')
        .divider.mb-4
        -
          const maxPercent = 27
          const ratings = [
            { range: '0-100', women: 2, men: 5 },
            { range: '100-199', women: 6, men: 9 },
            { range: '200-299', women: 10, men: 16 },
            { range: '300-399', women: 13, men: 14 },
            { range: '400-499', women: 10, men: 15 },
            { range: '500-599', women: 5, men: 7 },
            { range: '600-699', women: 3, men: 5 },
            { range: '700-799', women: 1, men: 4 },
            { range: '800-899', women: 1, men: 1 },
            { range: '900-999', women: 0.5, men: 0.5 },
            { range: '>1000', women: 0.5, men: 0.5 }
          ]

          ratings.forEach(rating => {
            rating.total = rating.women + rating.men
            rating.relativeWomen = Math.floor((rating.women / maxPercent) * 100)
            rating.relativeMen = Math.floor((rating.men / maxPercent) * 100)
          })
        each rating in ratings
          .mb-2.flex.items-center
            .w-20.shrink-0.whitespace-nowrap.text-sm.text-lab-black= rating.range
            .relative.h-6.w-full.overflow-hidden
              .absolute.left-0.h-full.rounded-l.bg-lab-purple(class=`w-[${rating.relativeWomen}%]`) 
              div(
                class=`left-[${rating.relativeWomen}%] absolute h-full rounded-r bg-lab-blue`,
                class=`w-[${rating.relativeMen}%]`
              )
            .ml-2.w-12.text-right.text-sm.text-lab-black= `${rating.total}%`
        .mt-4.flex.justify-start
          .mr-4.flex.items-center
            .mr-2.h-4.w-4.rounded.bg-lab-purple
            span.text-sm.text-gray-700 Женщины
          .flex.items-center
            .mr-2.h-4.w-4.rounded.bg-lab-blue
            span.text-sm.text-gray-700 Мужчины

        //- script.
        //-   const buttons = document.querySelectorAll('button')
        //-   buttons.forEach(button => {
        //-     button.addEventListener('click', () => {
        //-       buttons.forEach(btn => btn.classList.remove('bg-blue-600', 'text-white'))
        //-       button.classList.add('bg-blue-600', 'text-white')
        //-     })
        //-   })

    +tabBar('Вокруг игры')
