include /components/tabBar.pug
include /components/topBar.pug
include /components/atoms/backButtonTitle
include /components/comments.pug
include /components/atoms/tournamentTypeBadge.pug
include /components/atoms/breadcrumbs.pug
include /components/atoms/bookmark.pug
include /components/photoTiles.pug

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Фото
    link(href='../../styles.css' rel='stylesheet')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&:display=swap")
    base(href='../../')
  body.relative.bg-page-background.pb-16.pt-12
    +topBar
    a.absolute.top-16.left-3.bg-white.bg-opacity-75.rounded-lg.p-2.pr-3.flex.gap-2.items-center.z-20.border.shadow-sm(href="pages/aroundgame/photos.html")
      img(src="img/expand-arrow.svg" alt="").rotate-90.size-5
      span.text-sm.leading-none.opacity-75 Все фото
    #image-container.w-full.overflow-hidden(onclick="openModal()" class="max-h-[70vh]").relative
      #left-arrow.fixed.left-2(class="top-1/2 transform -translate-y-1/2").p-2.bg-white.bg-opacity-70.rounded-full.transform-gpu.drop-shadow-around.z-20
        img(src="img/expand-arrow.svg", alt="").size-6.rotate-90
      #right-arrow.fixed.right-2(class="top-1/2 transform -translate-y-1/2").p-2.bg-white.bg-opacity-70.rounded-full.drop-shadow-around.z-20
        img(src="img/expand-arrow.svg", alt="").size-6.-rotate-90
    
    
    #modal.fixed.inset-0.flex.items-center.justify-center.bg-black.bg-opacity-75.hidden.z-50
      .relative.bg-white.rounded-lg.overflow-hidden.max-w-full.max-h-full
        img(src="dynamic-img/photo-3.jpeg" alt="Фото" class="max-w-full max-h-screen object-contain")
        button.absolute.top-2.right-2.text-white.text-2xl(font-size="2rem" onclick="closeModal()") &times;


    script.

      function openModal() {
        document.getElementById('modal').classList.remove('hidden');
      }
      function closeModal() {
        document.getElementById('modal').classList.add('hidden');
      }


      const imgContainer = document.querySelector('#image-container')
      const leftArrow = document.querySelector('#left-arrow');
      const rightArrow = document.querySelector('#right-arrow');
      const img = new Image()
      img.src = 'dynamic-img/photo-3.jpeg'
      function updateImageContainer() {
        const aspectRatio = img.width / img.height;
        const maxWidth = 430; 
        const containerWidth = Math.min(window.innerWidth, maxWidth); // Ограничиваем ширину контейнера

        const height = img.height * (containerWidth / img.width);
        const maxVisibleHeight = img.height * 0.8; // Максимум 80% высоты изображения

        imgContainer.style.width = containerWidth + 'px';
        imgContainer.style.height = Math.min(height, maxVisibleHeight) + 'px';
        imgContainer.style.background = `url(${img.src}) center / cover no-repeat`;
        imgContainer.style.margin = '0 auto'; // Центрируем контейнер
        
      }

      img.onload = function () {
        updateImageContainer();
        window.addEventListener('resize', updateImageContainer);
      }


    .bg-white.px-4.pt-4

      .flex.items-center.gap-3.text-sm.justify-between
        .flex.items-center.gap-1
          img.size-5.cursor-pointer.opacity-50.saturate-50(
            src='img/heart-empty.svg',
            onclick='toggleHeart(this)'
          )
          span 13
        .flex.items-center.gap-1
          img.size-5.opacity-50.saturate-50(src='img/views.svg')
          span 2K
        .flex.items-center.gap-1.grow
          img.size-5.opacity-50.saturate-50(src='img/comment.svg')
          span 2
        +bookmark('', '', 5)
        img(src="img/three-dots.svg" alt="", onclick=`toggleCommentMenu('${photoID}')`).size-4

      div(id=`photomenu-${photoID}`, class="absolute bottom-0")
        +actionMenu([
          { text: 'Редактировать', color: ' text-rttf-color', link:'pages/aroundgame/editPhoto.html' },
          { text: 'Убрать своё имя с фото', color: ' text-rttf-color' },
          { text: 'Меня нет на фото', color: ' text-rttf-color' },
          { text: 'Пожаловаться', color: ' text-rttf-red', last: true, action: 'report'}

        ], 'action-menu-container')


      div.modal-container(class="fixed hidden inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-50")
        div(class="bg-white rounded-lg p-4 w-11/12 max-w-md")
          h2.text-lg.font-semibold Выберите тему жалобы
          form.flex.flex-col.gap-4.pt-4.pb-0.mb-0
            label.flex.items-center.gap-4.text-rttf-black
              input(type="radio" name="issue" value="sold").size-5
              | Непристойное содержание
            label.flex.items-center.gap-4.text-rttf-black
              input(type="radio" name="issue" value="wrong_info").size-5
              | Не нравится как выгляжу на фото
            label.flex.items-center.gap-4.text-rttf-black
              input(type="radio" name="issue" value="fraud").size-5
              | Спам
            label.flex.items-center.gap-4.text-rttf-black
              input(type="radio" name="issue" value="mass_sale").size-5
              | Фото не относится к турниру
            textarea.p-2.border.border-gray-300.rounded-md(placeholder="Кратко опишите суть жалобы")
            div.flex.gap-2
                +button('Отмена', 'text', 'rttf-black-50', '', ' w-1/2', 'cancelButton')
                +button('Отправить', 'default', 'white', 'bg-rttf-color', ' w-1/2', 'commentSubmitButton')


      script.
        function toggleCommentMenu(photoID) {
          var photoMenu = document.getElementById(`action-menu-container`);
          photoMenu.classList.toggle('hidden');
        }

        document.addEventListener('click', function (e) {
            var menuContainer = document.querySelector('.menu-container');
            var modalContainer = document.querySelector('.modal-container');
            
            if (e.target.dataset.action === 'report') {
                modalContainer.style.display = 'flex';
                menuContainer.style.display = 'none';
            }

            if (e.target.dataset.action === 'hide') {
                if (menuContainer) menuContainer.style.display = 'none';
                if (modalContainer) modalContainer.style.display = 'none';
            }
        });

      h1.text-base.py-4 Победители
      script.
        function toggleHeart(img) {
          const heartEmpty = 'img/heart-empty.svg'
          const heartFill = 'img/heart-fill.svg'
          if (img.src.includes(heartEmpty)) {
            img.src = heartFill
            img.classList.remove('opacity-50', 'saturate-50') // Удаляем классы для heart-empty
          } else {
            img.src = heartEmpty
            img.classList.add('opacity-50', 'saturate-50') // Добавляем классы обратно для heart-empty
          }
        }
      .flex.flex-col.gap-4.border-b.pb-4
        .flex.items-center.gap-3.text-sm
          img.size-4.opacity-50.saturate-50(src='img/cup.svg' alt='')
          a(href="pages/tournaments/singleTournament.html") 
            +tournamentTypeBadge('XDF') 
            span.inline.ml-2 Naten-Юг
            span.inline.ml-2 22.03.2024 12:30
        .flex.items-center.gap-3.text-sm
          img.size-4.opacity-50.saturate-50(src='img/home.svg' alt='')
          a(href='pages/courts/singleClub.html') Naten-Юг
        .flex.items-center.gap-3.text-sm
          img.size-4.opacity-50.saturate-50(src='img/calendar.svg' alt='')
          span 22.03.2024
        .flex.items-start.gap-3.text-sm
          img.size-4.opacity-50.saturate-50(src='img/player.svg' alt='' class="mt-0.5")
          div
            div.mb-2
              a.inline(href='pages/others/profile.html') Василий Артемьев, 
              |
              a.inline(href='pages/others/profile.html') Артур Скобелев, 
              |
              a.inline(href='pages/others/profile.html') Игорь Маслов 
            button.flex.items-center.gap-2.bg-rttf-color-10.px-2.border.rounded-lg(onclick="addPlayerModal()") +  Отметить игрока
        .flex.items-center.gap-3.text-sm
          img.size-4.opacity-50.saturate-50(src='img/camera.svg' alt='')
          a(href='pages/others/profile.html') Юрий Любимов
    div.hidden.fixed.inset-0.z-50.bg-gray-800.bg-opacity-50.flex.justify-center.items-center#addPlayermodal
      div.bg-white.p-4.rounded-lg.shadow-lg.w-96.relative
        h2.text-lg.mb-4.text-center Отметить игрока
        div.mb-4 Введите имя игрока, которого еще нет на фото
        input.p-2.border.rounded.mb-4(type="text" placeholder="Имя игрока").w-full
        div.flex.gap-2
          +button('Отмена', 'text', 'rttf-black-50', '', ' w-1/2', 'cancelButton')
          +button('Отправить', 'default', 'white', 'bg-rttf-color', ' w-1/2', 'commentSubmitButton')
        button.absolute.top-2.right-4.text-2xl.text-rttf-black(onclick="closeAddPlayerModal()") &times;

    script.
      function addPlayerModal() {
        document.getElementById('addPlayermodal').classList.remove('hidden');
      }
      function closeAddPlayerModal() {
        document.getElementById('addPlayermodal').classList.add('hidden');
      }
    +comments
    .bg-white.px-4 
      h2.border-t.py-4 Похожие фотографии 
    +photoTiles
    +tabBar('Вокруг игры')
