include /components/atoms/avatar.pug
include /components/atoms/button.pug
include /components/atoms/sortButton.pug
include /components/atoms/backButtonTitle.pug
include /components/atoms/userRating.pug
include /components/tabBar.pug
include /components/topBar.pug
include /components/block.pug
include /components/selectedCourts.pug
include /components/modal.pug
include /components/messageBlock.pug
include /components/atoms/stepper.pug
include /components/rentCourt.pug
include /components/rentCard.pug
include /components/clubCard.pug
include /components/selectedCourts.pug
include /components/newsCard.pug
include /components/inputs/select.pug
include /components/clientBookingTable.pug
include /components/mapOverlay.pug
include /components/bottomPanel.pug
include /components/inputs/switch.pug
include /components/inputs/input.pug
include /components/editLabel.pug
include /components/searchAndFilterButton.pug
include /components/filters/filterButtonsRow.pug
include /components/filters/dayOfWeek.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Бронирования
        link(href="../../styles.css" rel="stylesheet")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&:display=swap")
        base(href="../../")
    body.bg-page-background.mt-12.pb-32
        +topBar
        
        - 
            var bookings = [
                { id: '#145152', dateTime: 'Сегодня, 13:32', status: 'Забронировано', statusColor: 'lab-green', name: 'Сергей Макаров', phone: '79051271542', phoneFormatted: '+7 (905) 127-15-42', bookingDate: '11 сентября, четверг', courts: [{ time: '11:00-12:30', name: 'Корт 5' }], price: '1800\u202F₽', paymentStatus: 'Оплачено', paymentStatusColor: 'lab-green' },
                { id: '#145153', dateTime: 'Завтра, 14:00', status: 'Идёт игра', statusColor: 'lab-yellow', name: 'Анна Иванова', phone: '79061234567', phoneFormatted: '+7 (906) 123-45-67', bookingDate: '12 сентября, пятница', courts: [{ time: '14:00-15:30', name: 'Корт 6' }, { time: '15:30-17:00', name: 'Корт 3' }], price: '2000\u202F₽', paymentStatus: 'Абонемент', paymentStatusColor: 'lab-yellow' },
                { id: '#145154', dateTime: '11 сентября 16:45', status: 'Завершено', statusColor: 'lab-blue', name: 'Петр Сидоров', phone: '79073456789', phoneFormatted: '+7 (907) 345-67-89', bookingDate: '11 сентября, четверг', courts: [{ time: '16:00-17:30', name: 'Корт 4' }], price: '1500\u202F₽', paymentStatus: 'Не оплачено', paymentStatusColor: 'lab-red' },
                { id: '#145155', dateTime: '10 сентября, 18:00', status: 'Отменено', statusColor: 'lab-black-50', name: 'Екатерина Смирнова', phone: '79081234567', phoneFormatted: '+7 (908) 123-45-67', bookingDate: '11 сентября, четверг', courts: [{ time: '18:00-19:30', name: 'Корт 3' }, { time: '19:30-21:00', name: 'Корт 1' }], price: '2500\u202F₽', paymentStatus: 'Оплачено', paymentStatusColor: 'lab-green' },
                { id: '#145156', dateTime: '10 сентября, 09:00', status: 'Забронировано', statusColor: 'lab-green', name: 'Дмитрий Павлов', phone: '79091234567', phoneFormatted: '+7 (909) 123-45-67', bookingDate: '12 сентября, пятница', courts: [{ time: '09:00-10:30', name: 'Корт 2' }], price: '1800\u202F₽', paymentStatus: 'Абонемент', paymentStatusColor: 'lab-yellow' }
            ]
        
        .px-4 
            +backButtonTitle('Бронирования', 'pages/bookingAdminPanel/bookingAdminPanel.html')
            +searchAndFilterButton('Имя, номер телефона ', true, 'pb-2' )
            each booking, index in bookings
                a(href="pages/bookingAdminPanel/singleBooking.html")
                    .p-4.rounded-lg.bg-white.my-2.shadow-lg
                        .grid.grid-cols-3.items-center.mb-4
                            div.text-xs= booking.id
                            span(class="text-lab-black-50 text-xs text-center")= booking.dateTime
                            span(class=`text-sm text-right text-${booking.statusColor}`)= booking.status
                            
                        .my-2.flex.items-end.flex-wrap.gap-3
                            div.font-semibold.text-lab-black= booking.name
                            a(href=`tel:${booking.phone}`).text-sm.text-lab-black-50= booking.phoneFormatted

                        .flex.gap-4.items-center.py-3.text-sm
                            img(src="img/calendar.svg").saturate-50.opacity-60
                            div.leading-none.text-lab-black= booking.bookingDate
                        each court in booking.courts
                            .flex.gap-8.py-2.max-w-sm.items-center.text-sm
                                div.inline
                                    img(src="img/time.svg", alt="Время").inline.align-middle.saturate-50.opacity-50
                                    span.inline.align-middle.leading-none.ml-4= court.time
                                div.court
                                    img(src="img/court.svg", alt="Корт").inline.align-middle.saturate-50.opacity-50
                                    span.inline.align-middle.ml-2.text-lab-color= court.name
                                
                        div.mt-2.text-sm
                            img(src="img/price.svg", alt="Цена").inline.align-middle.saturate-50.opacity-50
                            span.inline.align-middle.ml-4= booking.price
                            span.inline.align-middle.ml-4(class=`text-${booking.paymentStatusColor} font-semibold`)= booking.paymentStatus
