mixin accordionProfileTournamentCard(tournament, id)
    .rounded-lg.bg-white.min-w-72.max-w-96(data-accordion-id=id).border
        .pl-4.pr-4.py-3.top-part(data-accordion-id=id)
            .flex.items-center.justify-between.mb-2.gap-4
                div.grow
                    span.text-sm.text-rttf-black-50 #{tournament.date}
                    div(class="flex items-center gap-0.5 pt-1")
                        +tournamentTypeBadge(tournament.typeBadge)
                        a(href=tournament.link).text-sm.px-2.font-semibold.text-ellipsis #{tournament.clubName}
                        img(src=tournament.playerIcon).saturate-50.opacity-50.hidden.detail-section
                        span.text-sm.hidden.detail-section #{tournament.playersCount}
                .flex.flex-col.items-center.gap-2.pt-1.detail-section.text-center
                    div.text-xxs.uppercase.text-rttf-black-50 Место
                    if tournament.finalPosition == '1'
                        div.bg-gold.rounded-full.text-sm.font-semibold.size-5.border #{tournament.finalPosition}
                    else if tournament.finalPosition == '2'
                        div.bg-silver.rounded-full.text-sm.font-semibold.size-5.border #{tournament.finalPosition}
                    else if tournament.finalPosition == '3'
                        div.bg-bronze.rounded-full.text-sm.font-semibold.size-5.border #{tournament.finalPosition}
                    else
                        div.text-sm.text-rttf-black.font-semibold.size-5 #{tournament.finalPosition} 
                .flex.flex-col.items-center.gap-2.pt-1.detail-section  
                    div.text-xxs.uppercase.text-rttf-black-50 В / П
                    span.text-rttf-green.font-semibold.text-sm.h-5 #{tournament.wins}
                        span.text-rttf-black-30(class="mx-0.5") /
                        span.text-rttf-red #{tournament.losses}
                .flex.flex-col.items-center.gap-2.pt-1.detail-section  
                    div.text-xxs.uppercase.text-rttf-black-50 ★ +/-
                    div.text-sm.font-semibold.h-5(class=tournament.finalChange[0] === '+' ? 'text-rttf-green' : 'text-rttf-red') #{tournament.finalChange}
            button.toggle-details.text-sm.text-rttf-black-50.underline.decoration-dotted.text-center.w-full(data-target=id)
                span.text.text-rttf-black-50 Показать подробности
                img(src="img/expand-arrow.svg").inline.align-middle.size-4.ml-2.arrow      
        div.border-rttf-black-10.pl-4.pr-3.hidden.detail-section(data-accordion-id=id)
            table.w-full
                thead
                    tr.border-b.text-rttf-black-50.text-xxs.font-semibold.uppercase
                        th(class="hidden xs:table-cell").py-2.text-left Этап
                        th.py-2.text-left Соперники
                        th.py-2.text-center.min-w-14 ★
                        th.py-2.text-center.min-w-8 Счёт
                        th.py-2.text-center.min-w-10  - / +
                tbody
                each player in tournament.players
                    tr.text-rttf-black(class="text-[13px]")
                        td(class="hidden xs:table-cell").py-2.text-rttf-black-50 #{player.stage}
                        td.py-2
                            each name in player.names
                                .flex.gap-1.items-center
                                    a(href=player.link).leading-none #{name} 
                                    if player.flag 
                                        img(src="img/note.svg", alt="").size-3
                                    br
                        td.text-center
                            +userRating(player.rating)
                        td.text-center.tracking-tighter #{player.score}
                        td.text-center(class=player.change[0] === '+' ? 'text-rttf-green' : 'text-rttf-red') #{player.change}
                tr.font-semibold.border-t.text-rttf-black(class="text-[13px] xs:hidden")
                    td.text-left.py-2(colspan="2")
                        if tournament.finalPosition == '1'
                            div.flex.items-center.gap-2
                                span.bg-gold.rounded-full.text-sm.font-semibold.size-5.border.text-center #{tournament.finalPosition}
                                | место
                        else if tournament.finalPosition == '2'
                            div.flex.items-center.gap-2
                                span.bg-silver.rounded-full.text-sm.font-semibold.size-5.border.text-center #{tournament.finalPosition}
                                | место
                        else if tournament.finalPosition == '3'
                            div.flex.items-center.gap-2
                                span.bg-bronze.rounded-full.text-sm.font-semibold.size-5.border.text-center #{tournament.finalPosition}
                                | место
                        else
                            | #{tournament.finalPosition} место

                    td.text-center
                        span.text-rttf-green #{tournament.wins}
                        span.text-rttf-black-30(class="mx-0.5") /
                        span.text-rttf-red #{tournament.losses}
                    td.text-center(class=tournament.finalChange[0] === '+' ? 'text-rttf-green' : 'text-rttf-red') #{tournament.finalChange}

                tr.font-semibold.border-t.text-rttf-black(class="hidden text-[13px] xs:table-row")
                    td.py-2.text-left(colspan="3") #{tournament.finalPosition} 
                        span место
                    td.text-center
                        span.text-rttf-green #{tournament.wins}
                        span.text-rttf-black-30(class="mx-0.5") /
                        span.text-rttf-red #{tournament.losses}
                    td.text-center(class=tournament.finalChange[0] === '+' ? 'text-rttf-green' : 'text-rttf-red') #{tournament.finalChange}
                    
            .flex.gap-1.items-center.gap.justify-between.pt-2.pb-4
                span.text-sm.text-rttf-black-50.mr-2.leading-none.grow Рейтинг до/после
                +userRating(tournament.ratingBefore, '', 'saturate-0')
                img(src="img/expand-arrow.svg", alt="").-rotate-90.size-4 
                +userRating(tournament.ratingAfter)
            
    script.
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.toggle-details').forEach(button => {
                button.addEventListener('click', () => {
                    const targetId = button.getAttribute('data-target');
                    const sections = document.querySelectorAll(`.detail-section[data-accordion-id="${targetId}"]`);
                    const arrow = button.querySelector('.arrow');

                    if (sections[0].classList.contains('hidden')) {
                        sections.forEach(section => section.classList.remove('hidden'));
                        arrow.classList.add('rotate-180');
                        button.classList.add('hidden'); // Скрываем кнопку после раскрытия
                    }
                });
            });
        });