mixin forumRow(topic, card)
  
  if !card
    .min-h-12.grow
      a.text-15.font-medium.text-rttf-black.block(href=topic.link)= topic.title
      .mt-2.flex.flex-wrap.items-center.gap-2.leading-none
        .rounded.py-1.text-xxs.font-medium.text-white(class=topic.themeClass + ' px-1.5')= topic.theme
        a.block.text-xs(class='!leading-none')= topic.author
        .text-xs.leading-none.text-rttf-black-50= topic.date
        .flex.items-center.gap-1
          img.size-4(src='img/comment-outlined.svg')
          .text-xs.leading-none.text-rttf-black-50= topic.commentsCount
          |
          span.-ml-1.text-xs= '+' + topic.newComments

  else
    .min-h-12(class=' px-4 py-3 bg-white rounded-lg border').flex.justify-between.items-center.gap-4
      div 
        a.text-15.font-medium.text-rttf-black.block(href=topic.link)= topic.title
        .mt-2.flex.flex-wrap.items-center.gap-2.leading-none
          .rounded.py-1.text-xxs.font-medium.text-white(class=topic.themeClass + ' px-1.5')= topic.theme
          a.block.text-xs(class='!leading-none')= topic.author
          .text-xs.leading-none.text-rttf-black-50= topic.date
          .flex.items-center.gap-1
            img.size-4(src='img/comment-outlined.svg')
            .text-xs.leading-none.text-rttf-black-50= topic.commentsCount
            |
            span.-ml-1.text-xs= '+' + topic.newComments
      .max-w-80(class="md:block").hidden
        .text-xs.text-rttf-black-50 Последний комментарий от 
          |
          a.text-xs.inline(href="pages/others/profile.pug") Gorbachev 
          |
          span.text-rttf-black-50 сегодня в 21:53
        a.border.bg-rttf-color-10.mt-1.text-rttf-black.rounded-md.text-xs.px-2.py-1.line-clamp-2(href="pages/aroundgame/topic.html") Когда мы играли в прошлом месяце в Москве, было много игроков с низким рейтингом, но было весело и интересно
