mixin newsCard(title, image, clubName, date, link, clubPage)
  a.flex.items-center.gap-3.min-h-16(href=link)
    if image
      img.size-16.shrink-0.rounded.object-cover(src=image)
    .flex.flex-col.gap-1
      h3.line-clamp-2.text-15.font-medium.leading-tight= title
      span.text-xs.text-rttf-black-50
        if !clubPage
          span.mr-2.font-semibold.text-rttf-black-50= clubName
        span.text-rttf-black-50= date
