mixin tournamentLiveRow(stage, player1, player2, score, video, border)
    - let containerClass = "flex items-center -z-10 gap-2 " + (border ? "border-b border-slate-300" : "")
    div(class=containerClass)
        .flex.flex-col.items-center.py-2.w-10.shrink-0
            span.text-sm.text-rttf-black-50.text-center.mb-1 #{stage}
            if video
                span.text-red-500.text-sm.animate-pulse #{video.minute}'
        .flex-grow.flex.flex-col.justify-center.py-2.w-full.flex-shrink.gap-1
            if score
                div.flex.justify-between.gap-2
                    span.text-sm.min-w-0.truncate.max-w-full.flex-shrink(class=score.player1 > score.player2 ? 'font-semibold' : 'text-slate-500') #{player1}
                    span.text-sm(class=score.player1 > score.player2 ? 'font-semibold' : 'text-slate-500') #{score.player1}
                div.flex.justify-between.gap-2
                    span.text-sm.min-w-0.truncate.max-w-full.flex-shrink(class=score.player2 > score.player1 ? 'font-semibold' : 'text-slate-500') #{player2}
                    span.text-sm(class=score.player2 > score.player1 ? 'font-semibold' : 'text-slate-500') #{score.player2}
            else if video
                .w-full.flex.justify-between.items-center.gap-2
                    div.flex.flex-col.min-w-0.flex-grow.text-sm.gap-1
                        span.text-sm.min-w-0.truncate.max-w-full.flex-shrink #{player1}
                        span.text-sm.min-w-0.truncate.max-w-full.flex-shrink #{player2}
                    a(href="pages/aroundGame/video.html").shrink-0.py-3
                        img(src='img/live-video.svg' alt="Video icon" class="h-5 animate-pulse")