include /components/atoms/ratingLimit.pug
include /components/atoms/userRating.pug
include playersAndComments.pug
include /components/atoms/tournamentTypeBadge.pug

mixin leaderboardItem(place, names, rating)
  - var medalColors = ['gold', 'silver', 'bronze']
  - var medal = medalColors[place - 1] || 'gold'
  div.flex.items-center.justify-between.py-2.gap-2
    img(src=`img/medal-${medal}.svg` alt=`${medal} medal` class="w-5 h-5")
    .text-sm.grow.leading-xs #{names[0]} / #{names[1]}
    +userRating(rating, true)





mixin tournamentResultCard(time, ratingType, ratingValue, title, players, comments)

    a.shadow-lg.rounded-lg.overflow-hidden.mb-2.max-w-sm.border(href="pages/tournaments/singleTournament.html")
        div(class="flex pl-3 pr-4 pt-3 pb-2 gap-2 bg-white border-b border-black-10 items-center")
            span.w-10.text-sm.text-center.shrink-0= time
            +ratingLimit(ratingType, ratingValue)
            .inline-flex.gap-2.grow.flex-wrap
                span.text-sm.font-semibold.leading-sm= title                
            +playersAndComments(players, comments)
        div.px-3.py-2.bg-slate-100.text-rttf-black
            +leaderboardItem(1, ['А. Баркалов', 'В. Мартынов'], 414)
            +leaderboardItem(2, ['Е. Неряхин', 'М. Клейменов'], 423)
            +leaderboardItem(3, ['У. Константинопольская', 'А. Парфёнов'], 377)