include /components/atoms/ratingLimit

mixin tournamentRow(time, ratingType, ratingValue, name, tournamentType, comments, players, reg, logo)
  -
    let tournamentIcons = {
      'Шахпонг': 'img/chesspong.svg',
      'Пинг-Понг': 'img/Ping-Pong.svg',
      'Ветеранский': 'img/Veteran.svg',
      'Детский': 'img/Children.svg',
      'Парный': 'img/Pair.svg',
      'Форовый': 'img/fore.svg',
      'Групповой': 'img/team.svg',
      'Ракетлон': 'img/racketlon.svg'
    }
    let tournamentLinks = {
      'Шахпонг': 'singleTournamentChess.html',
      'Ракетлон': 'singleTournamentRacketlon.html'
    }
    let tournamentLink = tournamentLinks[tournamentType] || 'singleTournament.html'

  a(class=`p-${tournamentType !== 'Настольный теннис' ? 2 : 3} ${reg ? 'border-2 border-rttf-green px-2' : 'px-2.5'}` href=`pages/tournaments/${tournamentLink}`).bg-white.rounded-lg.shadow.w-full.mb-1.max-w-sm.block
    div.flex.items-center(class='gap-2.5')
      div.text-sm.text-gray-700 #{time}
      +ratingLimit(ratingType, ratingValue)
      if tournamentType !== 'Настольный теннис'
        .bg-slate-100.border.rounded-full.p-1
            img.h-4.w-4(src=tournamentIcons[tournamentType] alt=tournamentType)
      if logo
        img.h-5.w-5(src=logo alt=tournamentType)
      div.truncate.w-24.text-rttf-black.grow.text-sm.font-medium #{name}
    
      if comments
        div.flex.hidden.items-center.gap-1(class="xs:flex").shrink-0
          img.h-4.w-4(src='img/comment.svg' alt='Комментарии').saturate-50.opacity-50
          span.text-rttf-black-50.text-sm #{comments}
      div.flex.items-center.gap-1
        img.h-4.w-4(src='img/player.svg' alt='Игроки').saturate-50.opacity-50
        span.text-rttf-black-50.text-sm #{players}

    if reg
      div.mt-2.flex.items-center.gap-1.text-xs
        img.h-4.w-4(src='img/checkmark.svg' alt='')
        span.text-rttf-color Вы зарегистрированы на этот турнир