include /components/atoms/userRating.pug

mixin tournamentResultsTableRacketlon(showPlace)
    
    - 
        var players = [
            { place: 1, name: 'Артамошкин Сергей', overallGames: '6-1', tableTennis: '2-0', ttRatingChange: '+2.1', badminton: '1-1', bdRatingChange: '+3.5', tennis: '2-0', tenRatingChange: '+1.7', squash: '1-0', sqRatingChange: '+0.3', ratingBefore: 411, change: '+7.6', ratingAfter: 418 },
            { place: 2, name: 'Вознесенский Андрей', overallGames: '5-2', tableTennis: '1-1', ttRatingChange: '+1.8', badminton: '2-0', bdRatingChange: '+2.9', tennis: '1-1', tenRatingChange: '+0.7', squash: '1-0', sqRatingChange: '+0.9', ratingBefore: 357, change: '+6.3', ratingAfter: 363 },
            { place: 3, name: 'Бероев Егор', overallGames: '4-3', tableTennis: '0-2', ttRatingChange: '-1.4', badminton: '2-0', bdRatingChange: '+3.8', tennis: '1-1', tenRatingChange: '+0.5', squash: '1-0', sqRatingChange: '+0.9', ratingBefore: 263, change: '+5.8', ratingAfter: 269 },
            { place: 4, name: 'Гаспарян Артур', overallGames: '3-4', tableTennis: '1-1', ttRatingChange: '+1.1', badminton: '0-2', bdRatingChange: '-2.3', tennis: '1-1', tenRatingChange: '+0.5', squash: '1-0', sqRatingChange: '+0.7', ratingBefore: 256, change: '+5.2', me: true, ratingAfter: 261 },
            { place: 5, name: 'Глебов Юрий', overallGames: '2-5', tableTennis: '1-1', ttRatingChange: '+0.9', badminton: '0-2', bdRatingChange: '-3.1', tennis: '1-1', tenRatingChange: '+0.4', squash: '0-1', sqRatingChange: '-0.5', ratingBefore: 264, change: '+3.1', ratingAfter: 267 },
            { place: 6, name: 'Голубев Виктор', overallGames: '1-6', tableTennis: '0-2', ttRatingChange: '-1.6', badminton: '1-1', bdRatingChange: '+1.7', tennis: '0-2', tenRatingChange: '-2.1', squash: '0-1', sqRatingChange: '-1.2', ratingBefore: 414, change: '-0.6', ratingAfter: 413 }
        ];

    // Переключатель над таблицей
    div(class="flex justify-between mb-2")
        label(class="flex items-center w-full space-x-2 cursor-pointer text-sm leading-tight justify-between text-rttf-black") Показать изменение рейтинга по каждой дисциплине
            input.sr-only.peer(type="checkbox" id="toggleRatingChanges" onchange="toggleRatingChanges()")
            span.relative.w-12.h-7.flex-shrink-0.bg-gray-200.rounded-full(class="peer-focus:outline-none dark:peer-focus:ring-blue-800 dark:bg-slate-200 peer-checked:after:translate-x-5 rtl:peer-checked:after:-translate-x-5 peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all dark:border-gray-600 peer-checked:bg-rttf-color")

    // Таблица результатов
    table(class="w-[calc(100vw-6vw)] -mr-4 -ml-4 -mb-2")
        thead
            tr(class="p-2 text-xs text-rttf-black-50")
                if showPlace
                    th(class="pl-2 text-center max-w-10") #
                th(class="pl-4 p-2 text-left") Игрок
                th(class="p-2 text-center") Игры
                th(class="p-2 text-center hidden sm:table-cell") 
                    img(src="/img/tt-racket.svg", class="mx-auto" alt="Настольный теннис").size-4

                th(class="p-2 text-center hidden sm:table-cell") 
                    img(src="/img/badminton.svg", class="mx-auto" alt="Бадминтон").size-4

                th(class="p-2 text-center hidden sm:table-cell") 
                    img(src="/img/squash.svg", class="mx-auto" alt="Сквош").size-4
                th(class="p-2 text-center hidden sm:table-cell") 
                    img(src="/img/tennis.svg", class="mx-auto" alt="Большой теннис").size-4

                th(class="p-2 text-center") ★ до
                th(class="p-2 text-center") ★ +/-
                th(class="p-2 text-center hidden sm:table-cell") ★ после
                
        tbody
            each player, index in players
                - const medalClass = index === 0 ? 'bg-gold' : index === 1 ? 'bg-silver' : index === 2 ? 'bg-bronze' : ''
                - const changeColor = player.change > 0 ? 'text-rttf-green' : 'text-rttf-red'
                - const playerRowClass = player.me ? "bg-orange-100" : "even:bg-white odd:bg-slate-100"
                tr.text-rttf-black(class=playerRowClass + ' text-[13px]')
                    if showPlace
                        td(class="pl-2 text-center font-semibold w-7")
                            if index < 3
                                div(class="h-5 w-5 flex items-center border border-rttf-black-10 justify-center rounded-full " + medalClass)= player.place
                            else
                                = player.place
                    td(class="pl-4 p-2 text-left leading-5 text-rttf-blue")= player.name
                    td(class="p-2 text-center")= player.overallGames

                    td(class="p-1 text-center hidden sm:table-cell")
                        span= player.tableTennis
                        br
                        span.rating-change.p-1(class="py-0.5").bg-rttf-color-10.rounded.hidden.text-xs(class=(parseFloat(player.ttRatingChange) > 0 ? 'text-rttf-green' : parseFloat(player.ttRatingChange) < 0 ? 'text-rttf-red' : 'text-rttf-black-50'))
                            | #{player.ttRatingChange}

                    td(class="p-1 text-center hidden sm:table-cell")
                        span= player.badminton
                        br
                        span.rating-change.p-1(class="py-0.5").bg-rttf-color-10.rounded.hidden.text-xs(class=(parseFloat(player.bdRatingChange) > 0 ? 'text-rttf-green' : parseFloat(player.bdRatingChange) < 0 ? 'text-rttf-red' : 'text-rttf-black-50'))
                            | #{player.bdRatingChange}

                    td(class="p-1 text-center hidden sm:table-cell")
                        span= player.squash
                        br
                        span.rating-change.p-1(class="py-0.5").bg-rttf-color-10.rounded.hidden.text-xs(class=(parseFloat(player.sqRatingChange) > 0 ? 'text-rttf-green' : parseFloat(player.sqRatingChange) < 0 ? 'text-rttf-red' : 'text-rttf-black-50'))
                            | #{player.sqRatingChange}

                    td(class="p-1 text-center hidden sm:table-cell")
                        span= player.tennis
                        br
                        span.rating-change.p-1(class="py-0.5").bg-rttf-color-10.rounded.hidden.text-xs(class=(parseFloat(player.tenRatingChange) > 0 ? 'text-rttf-green' : parseFloat(player.tenRatingChange) < 0 ? 'text-rttf-red' : 'text-rttf-black-50'))
                            | #{player.tenRatingChange}
                    // Рейтинг
                    td(class="p-2 text-center saturate-25 ")
                        +userRating(player.ratingBefore, '', '', 'racketlon')
                    td(class="p-2 text-center " + changeColor)= player.change
                    td(class="p-2 text-center hidden sm:table-cell align-middle")
                        +userRating(player.ratingAfter, '', '', 'racketlon')

    // Скрипт для переключения видимости
    script.
        function toggleRatingChanges() {
            var checkbox = document.getElementById('toggleRatingChanges');
            var isChecked = checkbox.checked;
            console.log('Checkbox is checked:', isChecked); // Для проверки состояния чекбокса

            var ratingElements = document.querySelectorAll('.rating-change');
            ratingElements.forEach(function(element) {
                element.classList.toggle('hidden', !isChecked);
            });
        }