include tournamentLiveRow.pug
include /components/atoms/ratingLimit.pug
include playersAndComments.pug
include /components/atoms/tournamentTypeBadge.pug

mixin tournamentLiveCard(time, group, players, comments, isReg, isDetails, title)
    - let containerClasses = "bg-white w-full rounded-lg overflow-hidden shadow-lg max-w-sm mb-2" + (isReg ? " border-2 border-lab-color" : "")

    div(class=containerClasses)
        div(class="flex pl-3 pr-4 pt-3 pb-2 gap-2 bg-white items-center")
            div.w-10.flex.justify-center.shrink-0
                +tournamentTypeBadge('XD')
            span.text-sm.font-semibold.leading-sm= title 
        .flex.items-center.text-sm.gap-1.shrink-0
                
            
        div.flex.flex-row.gap-2(class="ml-[48px]").pl-3.pr-4.pt-0.pb-2.items-center.justify-between
            div.inline-flex.flex-row.gap-2.items-center.text-sm
                span Группа
                div(class="w-6 h-6 flex justify-center items-center text-xs text-lab-black font-bold rounded bg-slate-200")= group
                span.shrink-0.text-lab-red.animate-pulse= time
            +playersAndComments(10, 1)
        if isReg
            div.flex.items-center.pt-1.pb-2.gap-1(class="ml-[60px]")
                img(src="img/checkmark.svg" class="w-4 h-4")
                span.text-xs.font-semibold.text-lab-color Вы играете в этой группе 

        if isDetails
            div.pl-3.pr-4.bg-slate-100
                +tournamentLiveRow('1/16', 'Клейменов Алексей', 'Григорьев-Апполонов Виктор', { player1: 3, player2: 2 }, null, true)
                +tournamentLiveRow('1/16', 'Семенова / Коломинская', 'Соколянская / Добронравова', null, { minute: "5" }, false )

        div.flex.flex-row.gap-2(class="ml-[48px]").pl-3.pr-4.pt-3.pb-3.items-center.justify-between
            div.inline-flex.flex-row.gap-2.items-center.text-sm
                span Группа
                div(class="w-6 h-6 flex justify-center items-center text-xs font-bold rounded-lg bg-slate-200")= 'B'
                span.shrink-0.text-lab-red.animate-pulse= time
            +playersAndComments(10, 1)

        if isDetails
            div.pl-3.pr-4.bg-slate-100
                +tournamentLiveRow('1/16', 'Востряков Григорий', 'Артемьев Сергей', { player1: 3, player2: 2 }, null, true)
                +tournamentLiveRow('1/16', 'Медведева / Стриженов', 'Горбачева / Васильчук', null, { minute: "5" }, false )



    