include /components/atoms/ratingLimit.pug

mixin tournamentRow(time, ratingType, ratingValue, name, tournamentType, comments, players)
  -
    let tournamentIcons = {
      'Шахпонг': 'img/chesspong.svg',
      'Пинг-Понг': 'img/Ping-Pong.svg',
      'Ветеранский': 'img/veteran.svg',
      'Детский': 'img/Children.svg',
      'Парный': 'img/Pair.svg',
      'Форовый': 'img/fore.svg',
      'Групповой': 'img/team.svg',
      'Ракетлон': 'img/racketlon.svg'
    }
    let tournamentLinks = {
      'Шахпонг': 'singleTournamentChess.html',
      'Ракетлон': 'singleTournamentRacketlon.html'
    }
    let tournamentLink = tournamentLinks[tournamentType] || 'singleTournament.html'

  a.flex.items-center.justify-between.px-3.py-3.bg-white.rounded-lg.shadow.w-full.mb-1.gap-2(href=`pages/tournaments/${tournamentLink}`)
    div.flex.items-center.gap-2.grow
      div.text-sm.text-gray-700 #{time}
      +ratingLimit(ratingType, ratingValue)
      if tournamentType !== 'Настольный теннис'
        img.h-4.w-4(src=tournamentIcons[tournamentType] alt=tournamentType)
      div.truncate.w-24.text-gray-900.grow.text-sm.font-medium #{name}
    
      
      if comments
        div.flex.hidden.items-center.gap-1(class="xs:flex").shrink-0
          img.h-4.w-4(src='img/comment.svg' alt='Комментарии').saturate-50.opacity-50
          span.text-rttf-black-50.text-sm #{comments}
      div.flex.items-center.gap-1
        img.h-4.w-4(src='img/player.svg' alt='Игроки').saturate-50.opacity-50
        span.text-rttf-black-50.text-sm #{players}