include /components/atoms/avatar.pug
include /components/atoms/button.pug
include /components/atoms/date.pug
include /components/comment.pug
include /components/bet.pug
include /components/atoms/tag.pug
include /components/atoms/userRating.pug
include /components/tabBar.pug
include /components/topBar.pug
include /components/block.pug
include /components/filters/filtersPanel.pug
include /components/filters/playerRating.pug
include /components/modal.pug
include /components/atoms/sortButton.pug
include /components/inputs/select.pug
include /components/searchAndFilterButton.pug
include /components/rentCourt.pug
include /components/clubCard.pug
include /components/newsCard.pug
include /components/horizontalClubCard.pug
include /components/atoms/bookmark.pug
include /components/adminBar.pug
include /components/atoms/menuRow.pug
include /components/trainerCard.pug
include /components/gameResult.pug
include /components/bestWinsBlock.pug
include /components/tournamentRegCard.pug
include /components/tournamentResultCard.pug
include /components/photoSlider.pug
include /components/videoSlider.pug
include /components/filters/filterButtonsRow.pug
include /components/filters/filterButton.pug
include /components/trainingLine.pug
include /components/photoTiles.pug
include /components/actionMenu.pug
include /components/atoms/backButtonTitle.pug
include /components/profileTournamentCard.pug

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Видео с тренером
    link(href='../../styles.css' rel='stylesheet')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo 2:wght@100;200;300;400;500;600;700;800&:display=swap")
    base(href='../../')
  body.bg-page-background.pb-28.pt-12
    +topBar
    +backButtonTitle('Видео с тренером Кудайбердиевым А.', 'pages/trainings/singleTrainer.html', 'px-2')
    a.block.mx-auto.text-center(href="pages/trainings/editTrainerVideos.html") Редактировать
    .px-4.pt-4
      +searchAndFilterButton('Название', true)
      +sortButton('По новизне', [{text: 'По новизне'}, {text: 'По популярности'}, {text: 'По количеству просмотров'}], ' pt-4 ')
    - 
      const bottomVideos = [
        {
          title: "1000% веселых моментов в бадминтоне",
          date: "Сегодня, 10:34",
          views: 371,
          url: "https://www.youtube.com/watch?v=T40FmAJKIP0"
        },
        {
          title: "Эпические навыки - Кевин Санджая Сукамульджо",
          date: "Вчера",
          views: 25,
          url: "https://www.youtube.com/watch?v=hUO0jn7TvNw"
        },
        {
          title: "Match point - Viktor Axelsen vs Toma Junior Popov - MS, SF - EC 2024",
          date: "3 дня назад",
          views: 8645,
          url: "https://www.youtube.com/watch?v=iBbTqVTq8qk"
        },
        {
          title: "1000% веселых моментов в бадминтоне",
          date: "2 месяца назад",
          views: 371,
          url: "https://www.youtube.com/watch?v=T40FmAJKIP0"
        },
        {
          title: "Эпические навыки - Кевин Санджая Сукамульджо",
          date: "8 месяцев назад",
          views: 25,
          url: "https://www.youtube.com/watch?v=hUO0jn7TvNw"
        },
        {
          title: "Match point - Viktor Axelsen vs Toma Junior Popov - MS, SF - EC 2024",
          date: "2 года назад",
          views: 8645,
          url: "https://www.youtube.com/watch?v=iBbTqVTq8qk"
        }
      ];

    div.grid.grid-cols-1(class="576:grid-cols-2 576:px-4 md:grid-cols-3 lg:grid-cols-4  gap-4").py-4
      each video, index in bottomVideos
        a.flex.flex-col.gap-2.flex-shrink-0.w-full(href="pages/aroundgame/video.html")
          .video-preview(data-url=video.url).w-full
            if video.url.includes('youtube') || video.url.includes('youtu.be')
              - const youtubeId = video.url.split('v=')[1] || video.url.split('youtu.be/')[1]
              img(src=`http://img.youtube.com/vi/${youtubeId}/mqdefault.jpg` alt=video.title).w-full.object-cover
          div(class="px-4 576:px-0")  
            .text-sm.font-bold.text-lab-black #{video.title}
            .flex.items-center.gap-3.text-sm.mt-2
              .flex.items-center.gap-1
                img(src="img/views.svg").size-5.opacity-50.saturate-50
                span.text-lab-black-50 #{video.views}
              span.text-lab-black-50= video.date



    +tabBar('Тренировки')