include /components/atoms/button.pug
include /components/topBar.pug
include /components/tabBar.pug
include /components/gameResult.pug
include /components/newsCard.pug
include /components/block.pug
include /components/filters/filterButtonsRow.pug

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Кубок RTTF  
    link(href='../../styles.css', rel='stylesheet')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&:display=swap")
    base(href='../../')
  body.bg-white.px-4.pb-32.pt-14
    +topBar
    h1.text-center.py-4.font-bold(style="background: linear-gradient(to right, #37B68B, #1476c6); -webkit-background-clip: text; color: transparent;") Кубок RTTF 2023

    div.flex.items-center.bg-slate-700.px-4.py-2.rounded-lg.justify-between
      div.text-white(class='w-1/2')
        div.text-sm.font-medium До начала 8 тура
        div.font-semibold Кубка RTTF
      div.flex.justify-around(class='w-1/2')
        div.text-center
          div.text-xl.text-rttf-light-yellow.font-semibold 3
          div.text-xs.text-white.opacity-70 дня
        div.text-center
          div.text-xl.text-rttf-light-yellow.font-semibold 11
          div.text-xs.text-white.opacity-70 часов
        div.text-center
          div.text-xl.text-rttf-light-yellow.font-semibold 24
          div.text-xs.text-white.opacity-70 мин

    a(href="pages/tournaments/reglament.html").block.mt-4 Регламент Кубка RTTF 2024 (полный) 
    a#toggle-schedule(href="#").block.mt-4.underline.decoration-dotted.underline-offset-2 Расписание турниров Кубка
    

    - 
      const schedule = [
        { date: '19 марта', leagues: [250, 450, 350, 550] },
        { date: '23 апреля', leagues: [350, 550, 250, 450] },
        { date: 'Май', leagues: [250, 450, 350, 550] },
        { date: 'Июнь', leagues: [350, 550, 250, 450] },
        { date: 'Июль', leagues: [250, 450, 350, 550] },
        { date: 'Август', leagues: [350, 550, 250, 450] },
        { date: 'Октябрь', leagues: [250, 450, 350, 550] },
        { date: 'Ноябрь', leagues: [350, 550, 250, 450] },
        { date: 'Декабрь/январь', final: 'Финал кубка RTTF' }
      ]

      const leagueColors = {
        250: 'bg-rttf-green',
        350: 'bg-rttf-yellow ',
        450: 'bg-rttf-blue ',
        550: 'bg-rttf-red'
      }

    

    table#tournament-schedule.table-auto.w-full.border-collapse.my-4.border.hidden
      thead.border.bg-slate-100
        tr.text-sm.text-rttf-black
          th.px-2.text-left.font-medium.border ВРЕМЯ
          th.p-1.text-center.font-medium.border 10:00
          th.p-1.text-center.font-medium.border 10:00
          th.p-1.text-center.font-medium.border 17:00
          th.p-1.text-center.font-medium.border 17:00
        tr.text-sm.text-rttf-black
          th.px-2.py-1.text-left.border.font-medium Дата тура
          th.px-2.py-1.text-center.border.font-medium(colspan=4) Лига 
      tbody
        each row in schedule
          if row.final
            tr.text-sm
              td.px-2.text-rttf-black.text-left.border= row.date
              td.p-1.bg-gradient-to-r.from-green-500.to-blue-500.text-slate-900.text-center(colspan=4).font-medium= row.final
          else
            tr.text-sm
              td.px-2.text-rttf-black.text-left.border= row.date
              each league in row.leagues
                - var leagueClass = leagueColors[league] || ''
                td.p-1.text-center.text-sm.font-medium.bg-opacity-70.text-slate-900.border(class=leagueClass)= league

   

    a#toggle-restrictions(href="#").block.mt-4.underline.decoration-dotted.underline-offset-2 Ограничения рейтинга
    div#restrictions.hidden
      div.text-rttf-black.my-2 Ограничения по максимальному рейтингу RTTF для <b>каждого</b> игрока для Лиги
      table.w-full.border-collapse.text-sm.text-center
        thead
          tr.bg-gray-100.border
            th.px-4.py-2.text-left.border.text-center Лига
            th.px-4.py-2.text-left.border.text-center Рейтинг
        tbody.border
          tr.bg-rttf-green.bg-opacity-70
            td.px-4.py-2.border Лига 250
            td.px-4.py-2.border 1 – 350
          tr.border.bg-rttf-yellow.bg-opacity-70
            td.px-4.py-2.border Лига 350
            td.px-4.py-2.border 250* – 450
          tr.border.bg-rttf-blue.bg-opacity-70
            td.px-4.py-2.border Лига 450
            td.px-4.py-2.border 350* – 550
          tr.border.bg-rttf-red.bg-opacity-70
            td.px-4.py-2.border Лига 550
            td.px-4.py-2.border  450* – 650
      p.text-xs.mt-4 * — игроки с меньшим рейтингом допускаются к участию, но при расчете рейтинга команды для них будет использоваться цифра нижней границы рейтинга
      p.text-xs Для регистрации используется максимальный рейтинг игроков за полгода
    
    script.
      const toggleLink = document.getElementById('toggle-schedule');
      const scheduleTable = document.getElementById('tournament-schedule');

      toggleLink.addEventListener('click', function(event) {
        event.preventDefault();
        scheduleTable.classList.toggle('hidden');
      });

      const toggleRestrictions = document.getElementById('toggle-restrictions');
      const restrictionsDiv = document.getElementById('restrictions');

      toggleRestrictions.addEventListener('click', function(event) {
        event.preventDefault();
        restrictionsDiv.classList.toggle('hidden');
      });

    h2.mt-6.mb-2 Место проведения
    a(href="pages/halls/singleClub.html").flex.gap-3.items-center.mb-6  
      img(src="/dynamic-img/fili-tt.png", alt="Логотип клуба").size-16
      .div 
        .font-semibold Wings Club Фили
        div.mt-2.text-sm.text-rttf-black.leading-tight г. Москва, Багратионовский пр., д. 5 (ТЦ Филион 4 этаж)

    +block('Новости', { href:"pages/aroundgame/news.html", text:'Все'}, '', '', '-mx-4')
      .sm.grid.grid-cols-1.gap-8(class='sm:grid-cols-2 lg:grid-cols-3')
          .flex.flex-col.gap-4
              +newsCard('23 мая состоится студенческий турнир Москвы', 'dynamic-img/club-1.jpg', 'Naten ЮГ Ярославль', '4 апреля 16:30', 'pages/aroundgame/singleNews.html')
              +newsCard('Открытые тренировки для всех желающих', '', 'Спартак М', '12 мая 18:00', 'pages/aroundgame/singleNews.html')
              +newsCard('Финал городского чемпионата по бадминтону', 'dynamic-img/club-3.jpg', 'Динамо СПб', '20 июня 20:00', 'pages/aroundgame/singleNews.html')

          .hidden(class='sm:flex sm:flex-col sm:gap-4')
              +newsCard('Запуск новой школы бадминтона в Петербурге', 'dynamic-img/photo-1.jpg', 'БК Невский', '15 июня 10:00', 'pages/aroundgame/singleNews.html')
              +newsCard('Летний кубок по бадминтону для детей', 'dynamic-img/club-1.jpg', 'БК Москва', '25 июля 14:00', 'pages/aroundgame/singleNews.html')
              +newsCard('Международный турнир по бадминтону стартует в августе', '', 'БК Интернационал', '1 августа 09:00', 'pages/aroundgame/singleNews.html')

          .hidden(class='lg:flex lg:flex-col lg:gap-4')
              +newsCard('Семинар по тактике игры в бадминтон', 'dynamic-img/club-2.jpg', 'БК Лидер', '3 сентября 12:00', 'pages/aroundgame/singleNews.html')
              +newsCard('Турнир памяти выдающихся игроков', '', 'БК Виктория', '10 сентября 15:00', 'pages/aroundgame/singleNews.html')
              +newsCard('Бадминтонный фестиваль для всей семьи', 'dynamic-img/photo-2.jpg', 'БК Семья', '17 сентября 10:00', 'pages/aroundgame/singleNews.html')

    


    h2.mt-6.mb-2 Туры и результаты
    .no-scrollbar.-mx-4.flex.gap-2.overflow-x-auto.px-4
      - var years = ['2020', '2021', '2022', '2023', '2024']
      - 
        var tours = [
        { month: 'Март', name: 'Тур 1', date: '19 марта' },
        { month: 'Апрель', name: 'Тур 2', date: '23 апреля' },
        { month: 'Май', name: 'Тур 3', date: '15 мая' },
        { month: 'Июнь', name: 'Тур 4', date: '20 июня' },
        { month: 'Июль', name: 'Тур 5', date: '11 июля' },
        { month: 'Август', name: 'Тур 6', date: '17 августа' },
        { month: 'Сентябрь', name: 'Внекубковый турнир', date: '18 сентября' },
        { month: 'Октябрь', name: 'Тур 7', date: '5 октября' },
        { month: 'Ноябрь', name: 'Тур 8', date: '10 ноября' },
        { month: 'Декабрь/Январь', name: 'Финал кубка RTTF', date: 'Дата уточняется' }
        ]

      script.
        document.addEventListener('DOMContentLoaded', () => {
          const activeTour = document.querySelector('.active-tour')
          if (activeTour) {
            const container = document.querySelector('.no-scrollbar')
            container.scrollLeft = activeTour.offsetLeft - container.offsetWidth / 2 + activeTour.offsetWidth / 2
          }
        })

      each year in years
        .flex-shrink-0.mb-4
          span.sticky.left-0.z-10.py-2.text-sm.text-rttf-black-50= year
          .mt-2.flex.gap-2
            - var displayTours = year === '2024' ? tours : tours
            each tour, index in displayTours
              - var isActive = index === 7 && year === '2024'
              button.flex.flex-col.items-center.justify-center.rounded-lg.p-2(
                class=[isActive ? 'bg-rttf-color active-tour' : 'bg-rttf-color-10'],
                data-month=tour.month
              )
                div(class=isActive ? 'text-sm text-white' : 'text-sm text-rttf-black').font-semibold= tour.name
                if tour.date
                  div(class=isActive ? 'text-xs text-white' : 'text-xs text-rttf-black')= tour.date

    mixin leagueCard(leagueName, bgColorClass, time, teams, participants, imgSrc)
      .rounded-lg.shadow-lg.mb-2.overflow-hidden(class="w-[85%]").shrink-0
        .flex.items-center.justify-between.gap-4.px-3.py-2(class=bgColorClass)
          h3.text-white.font-bold.grow= leagueName
          .flex.items-center
            img.h-4.mr-1(src="img/player-white.svg", alt="players")
            span.text-white.text-sm.leading-none= participants 
          span.text-white.text-sm.leading-none= time
        img.w-full(src=imgSrc, alt=leagueName) 
        .p-2
          each team, index in teams
            
            .flex.items-center.gap-2.py-2.justify-center
              - var medal = ['gold', 'silver', 'bronze'][index % 3]
              img.h-6(src=`img/medal-${medal}.svg`, alt=`${medal} medal`) 
              span.font-semibold.text-center= team.name
              
            .flex.items-center.justify-center.gap-3.mb-4
              each player in team.players
                a.text-center(href="pages/others/profile.html" class="w-1/3")
                  div.text-sm.font-medium= player.name
                  div.text-xs.mt-1 ★ #{player.rating}
    
    - 
      var leagues = [
        { name: 'Лига 250', bgColorClass: 'bg-rttf-green', time: '17:00', participants: 32, imgSrc: 'dynamic-img/league-250.jpg' },
        { name: 'Лига 350', bgColorClass: 'bg-rttf-yellow', time: '17:00', participants: 24, imgSrc: 'dynamic-img/league-350.jpg' },
        { name: 'Лига 450', bgColorClass: 'bg-rttf-blue', time: '17:00', participants: 16, imgSrc: 'dynamic-img/league-450.jpg' },
        { name: 'Лига 550', bgColorClass: 'bg-rttf-red', time: '17:00', participants: 20, imgSrc: 'dynamic-img/league-550.jpg' }
      ]

    - 
      var teamsData = {
        'Лига 250': [
          { name: 'Золотые Орлы', players: [{ name: 'Павлов Александр', rating: 320 }, { name: 'Иванова Татьяна', rating: 280 }, { name: 'Смирнов Алексей', rating: 150 }] },
          { name: 'Сильные Ветра', players: [{ name: 'Петров Михаил', rating: 300 }, { name: 'Соколова Мария', rating: 250 }, { name: 'Кузнецов Виктор', rating: 340 }] },
          { name: 'Молниеносные', players: [{ name: 'Сидоров Дмитрий', rating: 350 }, { name: 'Ковалева Ирина', rating: 310 }, { name: 'Морозов Андрей', rating: 330 }] }
        ],
        'Лига 350': [
          { name: 'Крылатые Ястребы', players: [{ name: 'Григорьев Павел', rating: 410 }, { name: 'Николаева Анна', rating: 420 }, { name: 'Федоров Василий', rating: 360 }] },
          { name: 'Скоростные Дельфины', players: [{ name: 'Орлов Олег', rating: 440 }, { name: 'Кузьмина Наталья', rating: 390 }, { name: 'Быков Артем', rating: 370 }] },
          { name: 'Красные Драконы', players: [{ name: 'Медведев Дмитрий', rating: 350 }, { name: 'Ершова Ирина', rating: 430 }, { name: 'Новиков Сергей', rating: 450 }] }
        ],
        'Лига 450': [
          { name: 'Быстрые Львы', players: [{ name: 'Макаров Дмитрий', rating: 520 }, { name: 'Семенова Екатерина', rating: 480 }, { name: 'Воронцов Олег', rating: 410 }] },
          { name: 'Белые Волки', players: [{ name: 'Жуков Алексей', rating: 500 }, { name: 'Михайлова Наталья', rating: 550 }, { name: 'Рябов Максим', rating: 470 }] },
          { name: 'Северные Медведи', players: [{ name: 'Фролов Владимир', rating: 480 }, { name: 'Зуева Ольга', rating: 530 }, { name: 'Тихонов Андрей', rating: 490 }] }
        ],
        'Лига 550': [
          { name: 'Победоносные Фениксы', players: [{ name: 'Романов Иван', rating: 620 }, { name: 'Шевцова Марина', rating: 570 }, { name: 'Белов Николай', rating: 460 }] },
          { name: 'Стальные Тигры', players: [{ name: 'Кириллов Денис', rating: 600 }, { name: 'Карасев Дарья', rating: 640 }, { name: 'Громов Артем', rating: 530 }] },
          { name: 'Золотые Драконы', players: [{ name: 'Власов Михаил', rating: 590 }, { name: 'Костина Ирина', rating: 610 }, { name: 'Савельев Алексей', rating: 650 }] }
        ]}

    .no-scrollbar.-mx-4.flex.gap-2.overflow-x-auto.pb-4.px-4
      each league in leagues
        -  var teams = teamsData[league.name]
        +leagueCard(league.name, league.bgColorClass, league.time, teams, league.participants, league.imgSrc)


    h2.mt-6.mb-3 Лучшие игры
      
    +filterButtonsRow([
        { label: 'Все лиги', active: true},
        { label: 'Лига 250', active: false},
        { label: 'Лига 350', active: false},
        { label: 'Лига 450', active: false },
        { label: 'Лига 550', active: false }
    ], '', 'pb-3')
    +gameResult({
                  stage: '1/16',
                  duration: 14,
                  border: true,
                  players: [
                      { name: 'Клейменов А.', rating: '420', score: 2, ratingChange: '+14.2', opponentScore: 1, initials: 'НП', avatarBg: 'bg-rttf-blue' },
                      { name: 'Преображенский В.', rating: '389', score: 1, ratingChange: '-11.5', opponentScore: 2, initials: 'АК', avatarBg: 'bg-rttf-yellow' }
                  ],
                  numOfPlayers: 1
              })
    +gameResult({
        stage: '1/16',
        duration: 12,
        border: true,
        players: [
            { name: 'Гуреев А. / Богданова С.', rating: '420', score: 1, ratingChange: '-14.2', opponentScore: 2, initials: 'НП', avatarBg: 'bg-rttf-blue' },
            { name: 'Кобыляцкий С. / Кобыляцкая Л.', rating: '389', score: 2, ratingChange: '+11.5', opponentScore: 1, initials: 'АК', avatarBg: 'bg-rttf-yellow' }
        ],
        numOfPlayers: 2
    })
    +gameResult({
        stage: '1/16',
        duration: 13,
        border: false,
        players: [
            { name: 'Бадминтонные пауки', rating: '420', score: 2, ratingChange: '+14.2', opponentScore: 1, initials: 'НП', avatarBg: 'bg-rttf-blue' },
            { name: 'Подмосковные ястребы', rating: '389', score: 1, ratingChange: '-11.5', opponentScore: 2, initials: 'АК', avatarBg: 'bg-rttf-yellow' }
        ],
        numOfPlayers: 3
    })


    
    h2.mt-6.my-3 Статистика по игрокам

    +filterButtonsRow([
        { label: 'Все лиги', active: true},
        { label: 'Лига 250', active: false},
        { label: 'Лига 350', active: false},
        { label: 'Лига 450', active: false },
        { label: 'Лига 550', active: false }
    ], '')
    -
        const players = [
          { name: "Иван Сергеев", rating: 700, gold: 60, silver: 40, bronze: 28, total: 128, me: true, place: 1 },
          { name: "Анна Иванова", rating: 695, gold: 55, silver: 35, bronze: 25, total: 115, me: false, place: 2 },
          { name: "Петр Алексеев", rating: 690, gold: 50, silver: 30, bronze: 22, total: 102, me: false, place: 3 },
          { name: "Ольга Николаева", rating: 685, gold: 45, silver: 28, bronze: 20, total: 93, me: false, place: 4 },
          { name: "Дмитрий Козлов", rating: 680, gold: 40, silver: 27, bronze: 18, total: 85, me: false, place: 5 },
          { name: "Елена Соколова", rating: 675, gold: 35, silver: 25, bronze: 16, total: 76, me: false, place: 6 },
          { name: "Александр Петров", rating: 670, gold: 30, silver: 23, bronze: 15, total: 68, me: false, place: 7 },
          { name: "Мария Федорова", rating: 665, gold: 25, silver: 20, bronze: 14, total: 59, me: false, place: 8 },
          { name: "Сергей Васильев", rating: 660, gold: 20, silver: 18, bronze: 12, total: 50, me: false, place: 9 },
          { name: "Виктория Егорова", rating: 655, gold: 15, silver: 15, bronze: 10, total: 40, me: false, place: 10 }
        ];
    table.-mx-4.my-3.w-screen
      thead
        tr.p-2.text-xs.text-rttf-black-50
          th.max-w-10.pl-2.text-center #
          th.max-w-24.p-2.text-left Имя
          th.p-2.text-center ★
          th.p-2.text-center
            img.mx-auto(src='img/medal-gold.svg', alt='')
          th.p-2.text-center
            img.mx-auto(src='img/medal-silver.svg', alt='')
          th.p-2.text-center
            img.mx-auto(src='img/medal-bronze.svg', alt='')
          th.p-2.text-center =

      tbody
        each player, index in players
          - const playerRowClass = player.me ? 'bg-orange-100' : 'even:bg-white odd:bg-slate-100'
          tr.text-sm.text-rttf-black(class=playerRowClass)
            td.w-7.pl-2.text-center.font-semibold= player.place
            td.max-w-24.p-2.text-left.leading-5= player.name
            td.p-2.text-center
              +userRating(player.rating)
            td.p-2.text-center= player.gold
            td.p-2.text-center= player.silver
            td.p-2.text-center= player.bronze
            td.p-2.text-center= player.total

    


    +tabBar('Турниры')