include /components/market/productCard.pug
include /components/market/buyCard.pug
include /components/market/secondHandCard.pug
include /components/market/articleCard.pug
include /components/market/stringerCard.pug
include /components/topBar.pug
include /components/tabBar.pug
include /components/atoms/backButtonTitle.pug
include /components/atoms/sortButton.pug
include /components/atoms/citySelect.pug
include /components/editBlock.pug
include /components/comments.pug
include /components/editLabel.pug
include /components/filters/filterButtonsRow.pug
include /components/atoms/breadcrumbs.pug
include /components/filters/tournamentTypeButton.pug
include /components/inputs/select.pug
include /components/inputs/input.pug
include /components/inputs/switch.pug
include /components/inputs/textarea.pug
include /components/searchAndFilterButton
include /components/atoms/button.pug
include /components/modal.pug
include /components/block.pug
include /components/dottedLine.pug
include /components/atoms/userStatusBadge
include /components/atoms/starRating

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Мои объявления - Б/У маркет - ЛАБ
    link(href='../../styles.css', rel='stylesheet')
    link(
      rel='stylesheet',
      href='https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&:display=swap'
    )

    base(href='../../')
  body.bg-page-background.py-12.pb-32
    +topBar

    - var tabs = ['Маркет', 'Б/У', 'Стрингеры']
    - var images = ['img/market.svg', 'img/price.svg', 'img/racket.svg']
    - var tabIds = ['market', 'used', 'stringers']
    - var activeTab = 'Б/У'
    .pb-safe-extra-panel.fixed.z-20.flex.w-full.justify-between.overflow-hidden.rounded-t-2xl.border.bg-white.text-lab-black.drop-shadow-top
      each tab, index in tabs
        - var isActive = tab === activeTab
        .players-panel-tab.tab(
          class=`${isActive ? "font-bold bg-lab-color-10" : "opacity-75 saturate-50"} flex grow items-center justify-center gap-1.5 border-r py-3 `,
          data-tab=`${tabIds[index]}`
        )
          img(src=images[index], class=`${!isActive && 'opacity-75 saturate-50'} aspect-square h-4 w-4`)
          .py-1.leading-none= tab

    script.
      document.addEventListener('DOMContentLoaded', function () {
        const tabs = document.querySelectorAll('.players-panel-tab')
        tabs.forEach((tab) => {
          tab.addEventListener('click', function () {
            tabs.forEach((t) => {
              const img = t.querySelector('img')
              if (t.classList.contains('font-bold')) t.classList.remove('font-bold')
              if (t.classList.contains('bg-lab-color-10')) t.classList.remove('bg-lab-color-10')
              t.classList.add('opacity-75', 'saturate-50')
              if (img) {
                img.classList.add('opacity-75', 'saturate-50')
              }
            })
            this.classList.add('font-bold', 'bg-lab-color-10')
            this.classList.remove('opacity-75', 'saturate-50')
            const img = this.querySelector('img')
            if (img) {
              img.classList.remove('opacity-75', 'saturate-50')
            }
            const tabId = this.getAttribute('data-tab')
            const tabContent = document.querySelectorAll('.tab-content')
            tabContent.forEach((content) => {
              if (content.id === tabId) {
                content.classList.remove('hidden')
              } else {
                content.classList.add('hidden')
              }
            })
          })
        })
      })

    .border-b.bg-white.p-4
      .flex.items-center.gap-3
        +avatar('bg-lab-blue', 'АС', '64')
        .flex.flex-col.gap-1
          .flex.items-center.gap-2
            a.font-semibold.leading-none(href='') Александр Семёнов
            +userRating(342)
          span.mb-1.text-sm.text-lab-black-50 @asemenov
          .flex.shrink-0.items-center
            img.h-4(src='img/yellow-star-full.svg')
            img.h-4(src='img/yellow-star-full.svg')
            img.h-4(src='img/yellow-star-full.svg')
            img.h-4(src='img/yellow-star-full.svg')
            img.h-4(src='img/yellow-star-half.svg')
            span.ml-1.text-sm.font-semibold.leading-tight 4.4
            a.ml-4.text-sm.text-lab-black-50 12 отзывов
      .my-4.flex.items-center.gap-4
        a.text-sm(href='pages/market/sellerProducts.html') 115 продаж
        a.text-sm(href='pages/market/sellerProducts.html') 23 объявления
      .mt-4.flex.items-center.justify-between.gap-2
        +button('Редактировать профиль', 'default', 'white', 'bg-lab-color', '', 'editButton')

    .border-b.bg-white.p-4
      h2.pb-4 Объявления продавца

      +filterButtonsRow([ { label: 'Все', active: true}, { label: 'Актуальные', active: false}, { label: 'Завершенные', active: false}, ], 'padding', '-mx-4 mb-4')

      .grid.grid-cols-2.gap-2(class='480:grid-cols-3 768:grid-cols-4 lg:grid-cols-5')
        +secondHandCard('yonexastrox99.jpg', 'Yonex Astrox 99', 12000, 'Москва', 'metro', 'Киевская', '#ff0000', '4 дня назад')
        +secondHandCard('lining.jpg', 'Li-Ning Turbo Charging 75', 10500, 'Санкт-Петербург', 'metro', 'Невский проспект', 'blue', '3 дня назад')
        +secondHandCard('victorthrustrer.webp', 'Victor Thruster K 9900', 13000, 'Казань', 'metro', 'Площадь Тукая', '#00ff00', '5 мая', false)
        +secondHandCard('yonexzforce.jpg', 'Yonex Voltric Z-Force II', 15000, 'Новосибирск', 'metro', 'Площадь Ленина', '#ffdd00', '2 декабря 2023 г.', false)
        +secondHandCard('ziggler.jpg', 'Apacs Z Ziggler', 8000, 'Екатеринбург', 'metro', 'Геологическая', '#ff0000', '1 мая', false)
        .flex.items-center.justify-center.text-center.text-sm.font-semibold.text-lab-color Показать больше объявлений

    +comments(true)

    +tabBar('Маркет')
