include /components/atoms/tournamentTypeBadge.pug
include /components/tabBar.pug
include /components/market/productCard.pug
include /components/market/buyCard.pug
include /components/market/secondHandCard.pug
include /components/market/articleCard.pug
include /components/market/stringerCard.pug
include /components/topBar.pug
include /components/atoms/backButtonTitle.pug
include /components/atoms/sortButton.pug
include /components/atoms/citySelect.pug
include /components/editBlock.pug
include /components/editLabel.pug
include /components/filters/filterButtonsRow.pug
include /components/atoms/breadcrumbs.pug
include /components/filters/tournamentTypeButton.pug
include /components/inputs/select.pug
include /components/inputs/input.pug
include /components/inputs/switch.pug
include /components/inputs/textarea.pug
include /components/searchAndFilterButton
include /components/atoms/button.pug
include /components/modal.pug
include /components/block.pug

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Заказы - Маркет - Лаб
    link(href='../../styles.css', rel='stylesheet')
    link(
      rel='stylesheet',
      href='https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&:display=swap'
    )

    base(href='../../')
  body.bg-page-background.py-12.pb-32
    +topBar
    .p-4 
      h1.mb-4 Мои заказы
      +filterButtonsRow([ { label: 'Все', active: true}, { label: 'Актуальные', active: false}, { label: 'Завершенные', active: false}, ], 'padding', '-mx-4 mb-4')
    
      -
        const orders = [
          {
            date: '2 октября 2023 г.',
            id: '#341203',
            status: 'Будет доставлен 4 октября',
            statusClass: 'bg-lab-color-10',
            items: [
              { img: 'dynamic-img/yonexastrox99.jpg' },
              { img: 'dynamic-img/volan.jpg' },
              { img: 'dynamic-img/bag.jpeg' }
            ],
            totalItems: 3,
            totalPrice: 18780,
          },
          {
            date: '14 сентября 2023 г.',
            id: '#340122',
            status: 'Получен 17 сентября',
            statusClass: 'bg-lab-color-10',
            items: [
              { img: 'dynamic-img/volan.jpg' }
            ],
            totalItems: 1,
            totalPrice: 63280,
          },
          {
            date: '12 сентября 2023 г.',
            id: '#341203',
            status: 'Отменён',
            statusClass: 'bg-lab-color-10 text-lab-red',
            items: [
              { img: 'dynamic-img/yonexastrox99.jpg' },
              { img: 'dynamic-img/bag.jpeg' }
            ],
            totalItems: 2,
            totalPrice: 11520,
          }
        ]

      each order in orders
        a.flex.flex-col.gap-2.p-4.bg-white.rounded-lg.shadow-md.mb-2(href="pages/market/order.html")
          .flex.justify-between.items-center
            h2.text-base.font-semibold= `Заказ от ${order.date}`
            span.text-lab-blue.text-sm= order.id
          
          span.text-sm.px-2.py-1.rounded-lg.w-fit.my-2(class=order.statusClass)= order.status
          span.text-sm.text-lab-black-50= `${order.totalItems} товар на сумму ${order.totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ' ')} ₽`
          .flex.gap-2.mt-2
            each item in order.items
              img.w-16.h-16(src=item.img, alt='Product Image')
