include /components/market/productCard.pug
include /components/market/buyCard.pug
include /components/market/secondHandCard.pug
include /components/market/articleCard.pug
include /components/market/stringerCard.pug
include /components/topBar.pug
include /components/tabBar.pug
include /components/atoms/backButtonTitle.pug
include /components/atoms/sortButton.pug
include /components/atoms/citySelect.pug
include /components/editBlock.pug
include /components/comments.pug
include /components/editLabel.pug
include /components/filters/filterButtonsRow.pug
include /components/atoms/breadcrumbs.pug
include /components/filters/tournamentTypeButton.pug
include /components/inputs/select.pug
include /components/inputs/input.pug
include /components/inputs/switch.pug
include /components/inputs/textarea.pug
include /components/searchAndFilterButton
include /components/atoms/button.pug
include /components/modal.pug
include /components/block.pug
include /components/dottedLine.pug
include /components/atoms/userStatusBadge
include /components/atoms/starRating

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Yonex Astrox 99 - Маркет - ЛАБ
    link(href='../../styles.css', rel='stylesheet')
    link(
      rel='stylesheet',
      href='https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&:display=swap'
    )

    base(href='../../')
  body.bg-page-background.py-12.pb-32
    +topBar

    - var tabs = ['Маркет', 'Б/У', 'Стрингеры']
    - var images = ['img/market.svg', 'img/price.svg', 'img/racket.svg']
    - var tabIds = ['market', 'used', 'stringers']
    - var activeTab = 'Маркет'
    .pb-safe-extra-panel.fixed.z-20.flex.w-full.justify-between.overflow-hidden.rounded-t-2xl.border.bg-white.text-lab-black.drop-shadow-top
      each tab, index in tabs
        - var isActive = tab === activeTab
        .players-panel-tab.tab(
          class=`${isActive ? "font-bold bg-lab-color-10" : "opacity-75 saturate-50"} flex grow items-center justify-center gap-1.5 border-r py-3 `,
          data-tab=`${tabIds[index]}`
        )
          img(src=images[index], class=`${!isActive && 'opacity-75 saturate-50'} aspect-square h-4 w-4`)
          .py-1.leading-none= tab

    script.
      document.addEventListener('DOMContentLoaded', function () {
        const tabs = document.querySelectorAll('.players-panel-tab')
        tabs.forEach((tab) => {
          tab.addEventListener('click', function () {
            tabs.forEach((t) => {
              const img = t.querySelector('img')
              if (t.classList.contains('font-bold')) t.classList.remove('font-bold')
              if (t.classList.contains('bg-lab-color-10')) t.classList.remove('bg-lab-color-10')
              t.classList.add('opacity-75', 'saturate-50')
              if (img) {
                img.classList.add('opacity-75', 'saturate-50')
              }
            })
            this.classList.add('font-bold', 'bg-lab-color-10')
            this.classList.remove('opacity-75', 'saturate-50')
            const img = this.querySelector('img')
            if (img) {
              img.classList.remove('opacity-75', 'saturate-50')
            }
            const tabId = this.getAttribute('data-tab')
            const tabContent = document.querySelectorAll('.tab-content')
            tabContent.forEach((content) => {
              if (content.id === tabId) {
                content.classList.remove('hidden')
              } else {
                content.classList.add('hidden')
              }
            })
          })
        })
      })

    .grid.grid-cols-1(class='sm:grid-cols-2').bg-white
      .h-64.max-h-64.w-full.p-4
        img.object-fit.mx-auto.h-full(src='dynamic-img/yonexastrox99.jpg', alt='')

      .bg-white.p-4
        +breadcrumbs([{name: 'Ракетки', href: 'pages/market/products.html'}, {name: 'Yonex', href: 'pages/market/products.html'}, {name: 'Yonex Astrox 99'}], 'px-0 pb-4')
        span.rounded.bg-lab-color.px-1.text-xs.text-white(class='py-0.5') Новинка
        h1.mt-2.font-bold.leading-tight Ракетка Yonex Astrox 99
        .my-2.flex.items-center.space-x-4
          span.text-lab-black-50.line-through 14 500₽
          span.text-xl.font-bold.text-lab-red 12 900₽

        a.my-4.flex.items-center.text-sm(href='#comments')
          +starRating(4.6, 4)
          span.ml-1.font-semibold.leading-none 4.6

          .ml-4.leading-none.text-lab-black-50 15 отзывов
        script.
          function toggleComparison() {
            const element = document.querySelector('.comparison-toggle')
            const img = element.querySelector('img')
            const span = element.querySelector('span')
            const isAdded = element.classList.toggle('added')

            if (isAdded) {
              img.src = 'img/go-to-comparison.svg'
              span.textContent = 'Перейти к сравнению'
              span.classList.add('text-lab-color')
            } else {
              img.src = 'img/add-to-comparison.svg'
              span.textContent = 'Добавить к сравнению'
              span.classList.remove('text-lab-color')
            }
          }

          document.addEventListener('DOMContentLoaded', function () {
            const element = document.querySelector('.comparison-toggle')
            element.addEventListener('click', toggleComparison)
            element.querySelector('span').addEventListener('click', function (event) {
              if (element.classList.contains('added')) {
                window.location.href = 'pages/market/comparison.html'
                event.stopPropagation()
              }
            })
          })

        .comparison-toggle.mt-4.flex.cursor-pointer.items-center.gap-2
          img.size-4(src='img/add-to-comparison.svg', alt='')
          span.text-sm.text-lab-black-50 Добавить к сравнению

        +button('Положить в корзину', 'default', 'white', 'bg-lab-color', 'my-4', 'commentSubmitButton')
        div.text-lab-black-50 Нет в наличии 

    .border-b.bg-white.p-4
      h2 Описание
      p Новый HADRAW SHIELD – это защитное основание следующего поколения. Его тонкая 5-слойная структура обеспечивает меньший вес и добавляет контроль в любой оборонительной ситуации.

      h2.py-2 Характеристики
      +dottedLine('Вес', '4U (80-84 гр.)')
      +dottedLine('Длина', '675 мм')
      +dottedLine('Жесткость', 'Средняя', 'Жесткость ракетки влияет на управляемость. Жесткая - для сильных ударов, требует лучшего контроля. Мягкая - лучше контроль, слабее удар.')
      +dottedLine('Натяжение', '≤ 28 lbs, до 12,5 кг', 'Натяжение струн: слабое (< 9 кг) - больше мощность, меньше контроль; среднее (9-11 кг) - баланс мощности и контроля; сильное (> 11 кг) - больше контроль, меньше мощность. Высокое натяжение требует точных ударов, низкое - увеличивает игровое пятно.')
      +dottedLine('Баланс', 'В голову', 'Баланс бывает в голову, в ручку, равномерный. В голову - для силы, в ручку - для контроля, равномерный - универсальный.')
      +dottedLine('Размер ручки', 'G5')
      +dottedLine('Материал', 'Графит', 'Материалы: графит, алюминий, сталь. Графит - легкий и прочный, алюминий - дешевый, сталь - тяжелая и прочная.')
      +dottedLine('Заводская натяжка', 'Нет')
      +dottedLine('Наличие чехла', 'На обод ракетки')
      +dottedLine('Страна', 'Китай')

    .p-2
      +comments(true)

      +block('Играют ракеткой (343)', { href: 'pages/market/productOwners.html', text: 'Все'}, '', '', 'mt-2')
        -
          var players = [
              { name: 'Андрей', surname: 'Петров', initials: 'АП', rating: 439, color: 'bg-lab-blue' },
              { name: 'Егор', surname: 'Смирнов', initials: 'ЕС', rating: 732, color: 'bg-lab-red' },
              { name: 'Артур', surname: 'Иванов', initials: 'АИ', rating: 691, color: 'bg-lab-green' },
              { name: 'Иван', surname: 'Кузнецов', initials: 'ИК', rating: 584, color: 'bg-lab-blue' },
              { name: 'Петр', surname: 'Воробьев', initials: 'ПВ', rating: 487, color: 'bg-lab-red' },
              { name: 'Сергей', surname: 'Морозов', initials: 'СМ', rating: 912, color: 'bg-lab-green' },
              { name: 'Дмитрий', surname: 'Лебедев', initials: 'ДЛ', rating: 365, color: 'bg-lab-blue' },
              { name: 'Алексей', surname: 'Соколов', initials: 'АС', rating: 753, color: 'bg-lab-red' },
              { name: 'Николай', surname: 'Сергеев', initials: 'НС', rating: 846, color: 'bg-lab-green' },
              { name: 'Владимир', surname: 'Федоров', initials: 'ВФ', rating: 679, color: 'bg-lab-blue' }
          ]

        // Список игроков
        each player in players
          .flex.items-center.border-b.py-1
            +avatar(player.color, player.initials, 32)
            a.ml-2.grow.text-sm(href='pages/others/profile.html') #{ player.name } #{ player.surname }
            +userRating(player.rating)

        #button-container.mt-3
          // Начальное состояние кнопки
          button#choose-button.text-sm.text-lab-black-50.underline.decoration-dotted Играете этой ракеткой?
          // Состояние кнопки при выборе ракетки
          #selected-state.flex.hidden.justify-between.gap-2.text-sm
            img(src='img/checkmark.svg', alt='')
            span.grow.text-sm.font-semibold.text-lab-color Играю этой ракеткой
            button#cancel-button.ml-4.text-lab-black-50.underline.decoration-dotted Отменить

        script.
          document.getElementById('choose-button').addEventListener('click', function () {
            this.classList.add('hidden')
            document.getElementById('selected-state').classList.remove('hidden')
          })
          document.getElementById('cancel-button').addEventListener('click', function () {
            document.getElementById('choose-button').classList.remove('hidden')
            document.getElementById('selected-state').classList.add('hidden')
          })

        // Пример данных игроков

      +block('Похожие товары', { href: 'pages/market/products.html', text: 'Все'}, '', '', 'mt-2')
        -
          var inventory = [ 
            { type: 'Ракетка', image: 'yonex-astrox.jpg', rating: '4.8', players: 23, comments: 2, price: 12800, shop: 'Lining center', name: 'Yonex Astrox 100 Game (KURENAI)', newItem: true, liked: false }, 
            { type: 'Обувь', image: 'yonex-65x.jpg', rating: '4.4', players: 351, comments: 0, price: 8990, shop: 'Rackets.ru', name: 'Yonex 65Х 3 (Navy/Blue)', newItem: false, liked: true }, 
            { type: 'Футболка', image: 'kumpoo.jpg', rating: '4.3', players: 764, comments: 1, price: 1800, shop: 'Badm Store', name: 'KUMPOO KW-0101 (RED)', newItem: false, liked: false } 
          ]        
        .no-scrollbar.-mx-4.-my-4.flex.gap-2.overflow-x-auto.p-4
          each item in inventory
            +productCard(item)
      +block('Этот товар в других магазинах', '', '', '', 'mt-2')
        .my-2.flex.items-center.justify-between
          a(href='vistasport.ru') Vistasport
          .shrink-0.rounded.bg-lab-light-yellow.px-2.py-1.text-sm.font-semibold.text-lab-black 12 800 ₽
        .my-2.flex.items-center.justify-between
          a(href='vistasport.ru') TT Sport
          .shrink-0.rounded.bg-lab-light-yellow.px-2.py-1.text-sm.font-semibold.text-lab-black 12 300 ₽
        .mt-2.flex.items-center.justify-between
          a(href='vistasport.ru') Hurricane-Pro
          .shrink-0.rounded.bg-lab-light-yellow.px-2.py-1.text-sm.font-semibold.text-lab-black 13 600 ₽
      +block('Похожие предложения б/у', { href: 'pages/market/secondHandProducts.html', text: 'Все'}, '', '', 'mt-2')
        .no-scrollbar.-mx-4.-my-4.flex.gap-2.overflow-x-auto.p-4
          +secondHandCard('yonexastrox99.jpg', 'Yonex Astrox 99', 12000, 'Москва', 'metro', 'Киевская', '#ff0000', '4 дня назад')
          +secondHandCard('lining.jpg', 'Li-Ning Turbo Charging 75', 10500, 'Санкт-Петербург', 'metro', 'Невский проспект', 'blue', '3 дня назад')
          +secondHandCard('victorthrustrer.webp', 'Victor Thruster K 9900', 13000, 'Казань', 'metro', 'Площадь Тукая', '#00ff00', '5 мая')
          +secondHandCard('yonexzforce.jpg', 'Yonex Voltric Z-Force II', 15000, 'Новосибирск', 'metro', 'Площадь Ленина', '#ffdd00', '2 декабря 2023 г.')
    
    +tabBar('Маркет')
