include /components/atoms/avatar.pug
include /components/atoms/button.pug
include /components/atoms/date.pug
include /components/comment.pug
include /components/bet.pug
include /components/atoms/tag.pug
include /components/atoms/userRating.pug
include /components/tabBar.pug
include /components/topBar.pug
include /components/block.pug
include /components/filters/filtersPanel.pug
include /components/filters/playerRating.pug
include /components/modal.pug
include /components/atoms/sortButton.pug
include /components/inputs/select.pug
include /components/searchAndFilterButton.pug
include /components/rentCourt.pug
include /components/clubCard.pug
include /components/newsCard.pug
include /components/horizontalClubCard.pug
include /components/atoms/bookmark.pug
include /components/adminBar.pug
include /components/atoms/menuRow.pug
include /components/trainerCard.pug
include /components/gameResult.pug
include /components/bestWinsBlock.pug

include /components/tournamentResultCard.pug
include /components/photoSlider.pug
include /components/videoSlider.pug
include /components/filters/filterButtonsRow.pug
include /components/filters/filterButton.pug
include /components/trainingLine.pug
include /components/atoms/backButtonTitle.pug
include /components/profileTournamentCard.pug

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Игроки
    link(href='../../styles.css' rel='stylesheet')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&:display=swap")
    base(href='../../')
  body.bg-page-background.pb-28.pt-12
    +topBar

    - var tabs = ['Рейтинг RTTF', 'Статистика']
    - var images = ['img/star-rttf-color.svg', 'img/ratings.svg']
    - var tabIds = ['rating', 'stats']
    - var activeTab = 'Рейтинг RTTF'
    .pb-safe-extra-panel.fixed.z-20.flex.w-full.justify-between.overflow-hidden.rounded-t-2xl.border.bg-white.text-rttf-black.drop-shadow-top
      each tab, index in tabs
        - var isActive = tab === activeTab
        .players-panel-tab.tab(
          class=`${isActive ? "font-bold bg-rttf-color-10" : "opacity-75 saturate-50"} flex w-1/2 grow cursor-pointer items-center justify-center gap-1.5 py-3 `,
          data-tab=`${tabIds[index]}`
        )
          img(src=images[index] alt=tab class=`${!isActive && 'opacity-75 saturate-50'} aspect-square h-4 w-4`)
          .py-1.leading-none= tab


    

    script.
      document.addEventListener('DOMContentLoaded', function () {
        const tabs = document.querySelectorAll('.players-panel-tab')
        tabs.forEach((tab) => {
          tab.addEventListener('click', function () {
            tabs.forEach((t) => {
              const img = t.querySelector('img')
              if (t.classList.contains('font-bold')) t.classList.remove('font-bold')
              if (t.classList.contains('bg-rttf-color-10')) t.classList.remove('bg-rttf-color-10')
              t.classList.add('opacity-75', 'saturate-50')
              if (img) {
                img.classList.add('opacity-75', 'saturate-50')
              }
            })
            this.classList.add('font-bold', 'bg-rttf-color-10')
            this.classList.remove('opacity-75', 'saturate-50')
            const img = this.querySelector('img')
            if (img) {
              img.classList.remove('opacity-75', 'saturate-50')
            }
            const tabId = this.getAttribute('data-tab')
            const tabContent = document.querySelectorAll('.tab-content')
            tabContent.forEach((content) => {
              if (content.id === tabId) {
                content.classList.remove('hidden')
              } else {
                content.classList.add('hidden')
              }
            })
          })
        })
      })





    #rating.tab-content.mx-auto.w-screen
      
      h1.p-4 Рейтинг

      +filterButtonsRow([ 
        { label: 'Настольный теннис', active: true, id: 'tennis-button' }, 
        { label: 'Шахпонг', active: false, id: 'chesspong-button' }, 
        { label: 'Ракетлон', active: false, id: 'racketlon-button' },
        { label: 'Пинг-понг', active: false }, 
        { label: 'Лига-ПРО', active: false }, 
        { label: 'ФНТР', active: false }  ], true)

      +searchAndFilterButton('Имя, логин или город', true, 'p-4')
      -
        const users = [
            { name: "Пухов Станислав", username: "StanPuhov", location: "Москва", color: "bg-rttf-blue", initials: "ПС", singleRating: 870, pairRating: 1014, singleRatingChange: '+14.2', doubleRatingChange: '+5.7', lastChange: '04.05.2024', tableTennis: 900, badminton: 850, tennis: 880, squash: 870 },
            { name: "Мальков Владимир", username: "VladMalk", location: "Санкт-Петербург", color: "bg-rttf-red", initials: "МВ", singleRating: 863, pairRating: 998, singleRatingChange: '+24.2', doubleRatingChange: '+15.7', lastChange: '03.05.2024', tableTennis: 910, badminton: 860, tennis: 870, squash: 860 },
            { name: "Жданов Илья", username: "IlyaZhd", location: "Казань", color: "bg-rttf-yellow", initials: "ЖИ", singleRating: 856, pairRating: 996, singleRatingChange: '+12.8', doubleRatingChange: '+12.7', lastChange: '02.05.2024', tableTennis: 920, badminton: 870, tennis: 860, squash: 850 },
            { name: "Матазов Николай", username: "NikMatz", location: "Новосибирск", color: "bg-rttf-green", initials: "МН", singleRating: 849, pairRating: 993, singleRatingChange: '+11.5', doubleRatingChange: '+9.6', lastChange: '01.05.2024', tableTennis: 930, badminton: 880, tennis: 850, squash: 840 },
            { name: "Федоткин Григорий", location: "Екатеринбург", color: "bg-rttf-blue", initials: "ФГ", singleRating: 842, pairRating: 987, singleRatingChange: '+10.9', doubleRatingChange: '+7.5', lastChange: '30.04.2024', tableTennis: 940, badminton: 890, tennis: 840, squash: 830 },
            { name: "Ицков Вадим", username: "VadItsk", location: "Нижний Новгород", color: "bg-rttf-red", initials: "ИВ", singleRating: 835, pairRating: 982, singleRatingChange: '+4.8', doubleRatingChange: '+6.4', lastChange: '29.04.2024', tableTennis: 950, badminton: 900, tennis: 830, squash: 820 },
            { name: "Ярославцев Степан", username: "StepYar", location: "Самара", color: "bg-rttf-yellow", initials: "ЯС", singleRating: 828, pairRating: 980, singleRatingChange: '+3.7', doubleRatingChange: '+4.3', lastChange: '28.04.2024', tableTennis: 960, badminton: 910, tennis: 820, squash: 810 },
            { name: "Иванов Антон", username: "AntIvan", location: "Омск", color: "bg-rttf-green", initials: "ИА", singleRating: 821, pairRating: 981, singleRatingChange: '+1.2', doubleRatingChange: '+3.2', lastChange: '27.04.2024', tableTennis: 970, badminton: 920, tennis: 810, squash: 800 },
            { name: "Архангельская Ольга", username: "OlgaArkh", location: "Челябинск", color: "bg-rttf-blue", initials: "АО", singleRating: 814, pairRating: 979, singleRatingChange: '+0.5', doubleRatingChange: '+2.1', lastChange: '26.04.2024', tableTennis: 980, badminton: 930, tennis: 800, squash: 790 },
            { name: "Макишев Константин", username: "KonMak", location: "Ростов-на-Дону", color: "bg-rttf-red", initials: "МК", singleRating: 807, pairRating: 976, singleRatingChange: '0', doubleRatingChange: '+1.0', lastChange: '25.04.2024', tableTennis: 990, badminton: 940, tennis: 790, squash: 780 },
            { name: "Никитин Иван", username: "IvanNik", location: "Уфа", color: "bg-rttf-yellow", initials: "НИ", singleRating: 800, pairRating: 973, singleRatingChange: '-0.5', doubleRatingChange: '-1.2', lastChange: '24.04.2024', tableTennis: 1000, badminton: 950, tennis: 780, squash: 770 },
            { name: "Супрунок Дмитрий", username: "DimSupr", location: "Пермь", color: "bg-rttf-green", initials: "СД", singleRating: 793, pairRating: 971, singleRatingChange: '-1.5', doubleRatingChange: '-2.5', lastChange: '23.04.2024', tableTennis: 1010, badminton: 960, tennis: 770, squash: 760 },
            { name: "Слободянюк Виктория", username: "VikaSlob", location: "Волгоград", color: "bg-rttf-blue", initials: "СВ", singleRating: 786, pairRating: 970, singleRatingChange: '+1.2', doubleRatingChange: '+3.2', lastChange: '27.04.2024', tableTennis: 1020, badminton: 970, tennis: 760, squash: 750 }
        ];

      script.
        document.addEventListener('DOMContentLoaded', () => {
          const buttons = {
            'tennis-button': '#tennisRating',
            'chesspong-button': '#chesspongRating',
            'racketlon-button': '#racketlonRating'
          };

          // Добавляем обработчики для каждой кнопки
          Object.keys(buttons).forEach(buttonId => {
            document.getElementById(buttonId).addEventListener('click', () => {
              // Скрываем все таблицы
              Object.values(buttons).forEach(tableId => {
                document.querySelector(tableId).classList.add('hidden');
              });

              // Показываем соответствующую таблицу
              document.querySelector(buttons[buttonId]).classList.remove('hidden');

              // Обновляем состояние кнопок (активная/неактивная)
              Object.keys(buttons).forEach(id => {
                const button = document.getElementById(id);
                if (id === buttonId) {
                  button.classList.add('bg-rttf-color', 'text-white', 'font-semibold');
                  button.classList.remove('bg-rttf-color-10', 'text-rttf-black');
                } else {
                  button.classList.add('bg-rttf-color-10', 'text-rttf-black');
                  button.classList.remove('bg-rttf-color', 'text-white', 'font-semibold');
                }
              });
            });
          });
        });

      +filtersPanel(true)
        .p-4
          +playerRating
          label.mb-3.mt-4.block.font-bold Пол
          +filterButtonsRow([ { label: 'Все', active: true }, { label: 'Мужчины', active: false }, { label: 'Женщины', active: false } ])
        +tags('Регион/город')

      .flex.gap-2.px-4.pb-4
        +filterButton('★ 400—800', false, '', true, 'text-sm')
        +filterButton('Москва', false, '', true, 'text-sm')
        +filterButton('Мужчины', false, '', true, 'text-sm')


      table.w-full.bg-white#tennisRating
        thead
          tr.border-y.text-xxs.font-semibold.uppercase.text-rttf-black-50
            th.py-2.pl-3.text-left №▼
            th 
            th.px-2.text-left Имя/город
            th.hidden.px-2.text-left(class='430:table-cell') Логин
            th Рейтинг
            th ★ +/-
            th.hidden.px-2.text-center(class='sm:table-cell') Обновлён

        each user, index in users
          tr.border-b.text-rttf-black
            td.px-2.text-center.text-sm= index + 1
            td: +avatar(user.color, user.initials, 32)
            td.px-2.py-1
              a.inline-block.font-semibold(
                href='pages/others/profile.html',
                class='text-[13px] xs:text-sm'
              )= user.name
              .text-xs.text-rttf-black-50= user.location
            td.hidden.px-2.text-sm.text-rttf-black-50(class='430:table-cell')= user.username
            td.px-2.py-1.text-center
              +userRating(user.singleRating)
            td.px-3.py-1.text-center
              div(
                class=(user.singleRatingChange > 0 ? 'text-rttf-green' : user.singleRatingChange < 0 ? 'text-rttf-red' : 'text-rttf-black-50') + ' text-[13px] leading-none'
              )= user.singleRatingChange
            td.hidden.px-2.text-center.leading-none.text-rttf-black-50(class='text-[13px] sm:table-cell')= user.lastChange

      table.hidden.w-full.bg-white#chesspongRating
        thead
          tr.border-y.text-xxs.font-semibold.uppercase.text-rttf-black-50
            th.py-2.pl-3.text-left №▼
            th 
            th.px-2.text-left Имя/город
            th.hidden.px-2.text-left(class='sm:table-cell') Логин
            th Теннис
            th Шахпонг
            th ★ +/-
            th.hidden.px-2.text-center(class='sm:table-cell') Обновлён

        each user, index in users
          tr.border-b.text-rttf-black
            td.px-2.text-center.text-sm= index + 1
            td: +avatar(user.color, user.initials, 32)
            td.w-auto.px-2
              a.inline-block.font-semibold(
                href='pages/others/profile.html',
                class='text-[13px] xs:text-sm'
              )= user.name
              .text-xs.text-rttf-black-50= user.location

            td.hidden.w-auto.px-2.text-sm.text-rttf-black-50(class='sm:table-cell')= user.username
            td.px-2.text-center
              +userRating(user.pairRating, false, '', 'tennis') 
            td.px-2.py-1.text-center
              +userRating(user.singleRating, '', '', 'chesspong')  
              div(
                class="mt-1 text-xs sm:hidden" 
                class=(user.singleRatingChange > 0 ? 'text-rttf-green' : user.singleRatingChange < 0 ? 'text-rttf-red' : 'text-rttf-black-50')
              )= user.singleRatingChange
            td.hidden.px-2.py-1.text-center.text-sm(class='sm:table-cell')  
              div(
                class=(user.singleRatingChange > 0 ? 'text-rttf-green' : user.singleRatingChange < 0 ? 'text-rttf-red' : 'text-rttf-black-50')
              )= user.singleRatingChange

            td.hidden.px-2.text-center.text-sm.text-rttf-black-50(class='sm:table-cell')= user.lastChange
  
        
      

      table.w-full.bg-white.hidden#racketlonRating
        thead
            tr.border-y.text-xxs.font-semibold.uppercase.text-rttf-black-50
                th.py-2.pl-3.text-left №▼
                th 
                th.px-2.text-left Имя/город
                th.hidden.px-2.text-left(class='430:table-cell') Логин
                th(class="p-2 text-center hidden sm:table-cell") 
                    img(src="/img/tt-racket.svg", class="mx-auto" alt="Настольный теннис").size-4

                th(class="p-2 text-center hidden sm:table-cell") 
                    img(src="/img/badminton.svg", class="mx-auto" alt="Бадминтон").size-4

                th(class="p-2 text-center hidden sm:table-cell") 
                    img(src="/img/squash.svg", class="mx-auto" alt="Сквош").size-4
                th(class="p-2 text-center hidden sm:table-cell") 
                    img(src="/img/tennis.svg", class="mx-auto" alt="Большой теннис").size-4
                th Рейтинг
                th ★ +/-
                th.hidden.px-2.text-center(class='sm:table-cell') Обновлён

        each user, index in users
          tr.border-b.text-rttf-black
            td.px-2.text-center.text-sm= index + 1
            td: +avatar(user.color, user.initials, 32)
            td.px-2.py-1
              a.inline-block.font-semibold(
                href='pages/others/profile.html',
                class='text-[13px] xs:text-sm'
              )= user.name
              .text-xs.text-rttf-black-50= user.location
            td.hidden.px-2.text-sm.text-rttf-black-50(class='430:table-cell')= user.username
            td(class="p-2 text-center text-[13px] hidden w-1/12 sm:table-cell")= user.tableTennis
            td(class="p-2 text-center text-[13px] hidden w-1/12 sm:table-cell")= user.badminton
            td(class="p-2 text-center text-[13px] hidden w-1/12 sm:table-cell")= user.tennis
            td(class="p-2 text-center text-[13px] hidden w-1/12 sm:table-cell")= user.squash
            td.px-2.py-1.text-center
              +userRating(user.singleRating, '', '', 'racketlon')
            td.px-3.py-1.text-center
              div(
                class=(user.singleRatingChange > 0 ? 'text-rttf-green' : user.singleRatingChange < 0 ? 'text-rttf-red' : 'text-rttf-black-50') + ' text-[13px] leading-none'
              )= user.singleRatingChange
            td.hidden.px-2.text-center.leading-none.text-rttf-black-50(class='text-[13px] sm:table-cell')= user.lastChange

    #stats.tab-content.mx-auto.hidden.w-screen.bg-page-background.px-4
      .sticky.top-12.z-10.bg-page-background.p-4.-mx-4.-mt-4.shadow-xl
        h1.mb-4 Статистика
            
        +filterButtonsRow([ { label: 'Настольный теннис', active: true }, { label: 'Шахпонг', active: false }, { label: 'Ракетлон', active: false }, { label: 'Пинг-понг', active: false } , { label: 'Лига-ПРО', active: false } , { label: 'ФНТР', active: false }  ], true, 'mt-4 -mx-4')

      +block('Лидеры роста рейтинга', '', '', '', 'mt-8 mb-3')
        +filterButtonsRow([ { label: 'Неделя', active: true}, { label: 'Месяц', active: false}, { label: 'Год', active: false}, { label: 'Всё время', active: false }, ], 'padding', '-mx-4')
        .no-scrollbar.-mx-4.flex.gap-4.overflow-x-auto.px-4.pt-6
          .flex.min-w-20.flex-col.items-center.gap-2
            +avatar('bg-rttf-blue', 'НП', '48')
            a.text-center.text-sm.font-semibold(href='pages/others/profile.html') Никита Полянский
            +userRating(620)
            span.pt-2.text-15.font-semibold.text-rttf-green +35.4
          .flex.min-w-20.flex-col.items-center.gap-2
            +avatar('bg-rttf-green', 'ГД', '48')
            a.text-center.text-sm.font-semibold(href='pages/others/profile.html') Григорий Державин
            +userRating(643)
            span.pt-2.text-15.font-semibold.text-rttf-green +32.7
          .flex.min-w-20.flex-col.items-center.gap-2
            +avatar('bg-rttf-yellow', 'КБ', '48')
            a.text-center.text-sm.font-semibold(href='pages/others/profile.html') Константин Барышников
            +userRating(493)
            span.pt-2.text-15.font-semibold.text-rttf-green +31.4
          .flex.min-w-20.flex-col.items-center.gap-2
            +avatar('bg-rttf-yellow', 'ЛК', '48')
            a.text-center.text-sm.font-semibold(href='pages/others/profile.html') Людмила Кошелева
            +userRating(493)
            span.pt-2.text-15.font-semibold.text-rttf-green +30.9

      +bestWinsBlock(true, true)

      +block('Победные серии')
        +filterButtonsRow([ { label: 'Месяц', active: false}, { label: 'Год', active: false}, { label: 'Всё время', active: false }, ], 'padding', '-mx-4')
        .no-scrollbar.-mx-4.flex.gap-4.overflow-x-auto.px-4.pt-6
          .flex.min-w-20.flex-col.items-center.gap-2
            +avatar('bg-rttf-blue', 'НП', '48')
            span.text-center.text-sm.font-semibold.text-rttf-color Никита Полянский
            +userRating(620)
            span.pt-2.text-15.font-semibold.text-rttf-yellow 21 победа
          .flex.min-w-20.flex-col.items-center.gap-2
            +avatar('bg-rttf-green', 'ГД', '48')
            span.text-center.text-sm.font-semibold.text-rttf-color Григорий Державин
            +userRating(643)
            span.pt-2.text-15.font-semibold.text-rttf-yellow 19 побед
          .flex.min-w-20.flex-col.items-center.gap-2
            +avatar('bg-rttf-yellow', 'КБ', '48')
            span.text-center.text-sm.font-semibold.text-rttf-color Константин Барышников
            +userRating(493)
            span.pt-2.text-15.font-semibold.text-rttf-yellow 17 побед
          .flex.min-w-20.flex-col.items-center.gap-2
            +avatar('bg-rttf-yellow', 'ЛК', '48')
            span.text-center.text-sm.font-semibold.text-rttf-color Людмила Кошелева
            +userRating(493)
            span.pt-2.text-15.font-semibold.text-rttf-yellow 17 побед

      +block('Дни рождения')
        +filterButtonsRow([ { label: 'Сегодня, 21 мая', active: true}, { label: 'Завтра, 22 мая', active: false}, { label: 'Послезавтра, 23 мая', active: false}, { label: 'Четверг, 24 мая', active: false }, ], 'padding', '-mx-4')
        -
          var users = [
            { bgColor: 'bg-rttf-blue', initials: 'НП', rating: 620, name: 'Никита Полянский' },
            { bgColor: 'bg-rttf-green', initials: 'ГД', rating: 643, name: 'Григорий Державин' },
            { bgColor: 'bg-rttf-yellow', initials: 'КБ', rating: 493, name: 'Константин Барышников' },
            { bgColor: 'bg-rttf-yellow', initials: 'ЛК', rating: 493, name: 'Людмила Кошелева' }
          ]

        .no-scrollbar.-mx-4.flex.gap-4.overflow-x-auto.px-4.pt-8
          each user in users
            .flex.flex-col.items-center.gap-2
              +avatar(user.bgColor, user.initials, '64', '', '', '', 'z-10', true)
              span.z-0.text-center.text-sm.font-semibold.text-rttf-color= user.name
              +userRating(user.rating)
              button.mt-2.rounded-lg.bg-rttf-color-10.px-2.py-1.text-15 Поздравить

    +tabBar('Игроки')
