mixin switch(labelText, padding='py-4', extraClass='justify-between grow', toggleId='playerToggle', size='default')
  -
    const sizeClasses = size === 'small' ? {
      container: 'w-8 h-5',
      afterTop: 'top-[2px]',
      afterStart: 'start-[1px]',
      afterHeight: 'h-4',
      afterWidth: 'w-4',
      afterTranslate: 'translate-x-3',
    } : {
      container: 'w-12 h-7',
      afterTop: 'top-[2px]',
      afterStart: 'start-[2px]',
      afterHeight: 'h-6',
      afterWidth: 'w-6',
      afterTranslate: 'translate-x-5',
    }

  div.flex.items-center.gap-3.leading-tight.text-left.max-w-sm(class=extraClass + ' ' + padding)
    label.flex.items-center.gap-3.text-sm.text-rttf-black(for=toggleId)= labelText
        input.sr-only.peer(type="checkbox" value="" id=toggleId)
        div.relative.flex-shrink-0.bg-gray-200.rounded-full(class=`${sizeClasses.container} peer-focus:outline-none dark:peer-focus:ring-blue-800 dark:bg-slate-200 peer-checked:after:${sizeClasses.afterTranslate} rtl:peer-checked:after:-${sizeClasses.afterTranslate} peer-checked:after:border-white after:content-[''] after:absolute after:${sizeClasses.afterTop} after:${sizeClasses.afterStart} after:bg-white after:border-gray-300 after:border after:rounded-full after:${sizeClasses.afterHeight} after:${sizeClasses.afterWidth} after:transition-all dark:border-gray-600 peer-checked:bg-rttf-color`)
